wifi4eu-jagate/src/main/resources/jagate/cdm/model/expertappointment-ref/V1/ExpertAppointmentRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by apostlt (European Commission - DG INFSO) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ec.europa.eu/research/fp/model/expertappointment-ref/V1" xmlns:base="http://ec.europa.eu/research/fp/model/base/V1" targetNamespace="http://ec.europa.eu/research/fp/model/expertappointment-ref/V1" elementFormDefault="qualified" version="1.0.0">
	<xs:import namespace="http://ec.europa.eu/research/fp/model/base/V1" schemaLocation="../../base/V1/Base.xsd"/>
	<xs:simpleType name="TravelSessionIDType">
		<xs:annotation>
			<xs:documentation>The Travel Session ID that is generated by EMPP when a new travel session is created by the expert.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ReimbursementRequestIDType">
		<xs:annotation>
			<xs:documentation>The Reimbursement Request ID that is generated by EMPP when a new reimbursement request is created by the expert.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="GlobalIDType">
		<xs:annotation>
			<xs:documentation>This uniquely identifies an entity/object within a confederation of IT Systems.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EntityInternalID" type="xs:string">
				<xs:annotation>
					<xs:documentation>This is the internal  id of the entity as generated by owning IT System.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SystemID" type="base:SystemsType">
				<xs:annotation>
					<xs:documentation>This identifies the IT System/application that creaated the entity (EMI, AL2, etc).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
