wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_LegalEntity_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/v1" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:get="http://www.ec.europa.eu/budg/abac/legal_entity/v1" 
xmlns:dup="http://www.ec.europa.eu/budg/abac/legal_entity/v1" 
xmlns:search="http://www.ec.europa.eu/budg/abac/legal_entity/v1" 
xmlns:cre="http://www.ec.europa.eu/budg/abac/legal_entity/v1" 
xmlns:mod="http://www.ec.europa.eu/budg/abac/legal_entity/v1" 
xmlns:msg="http://www.ec.europa.eu/budg/abac/message/v1"  
name="LegalEntity" targetNamespace="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/v1">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/legal_entity/v1" schemaLocation="xsd/legalentity/BUDG_LegalEntity_Get_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/legal_entity/v1" schemaLocation="xsd/legalentity/BUDG_LegalEntity_CheckDuplicate_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/legal_entity/v1" schemaLocation="xsd/legalentity/BUDG_LegalEntity_Create_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/legal_entity/v1" schemaLocation="xsd/legalentity/BUDG_LegalEntity_Modify_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/legal_entity/v1" schemaLocation="xsd/legalentity/BUDG_LegalEntity_Search_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="LegalEntityGetRequest">
		<wsdl:part name="parameters" element="get:LegalEntityGetRequest"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityGetResponse">
		<wsdl:part name="parameters" element="get:LegalEntityGetResponse"/>
	</wsdl:message>
	<wsdl:message name="LegalEntitySearchRequest">
		<wsdl:part name="parameters" element="search:LegalEntitySearchRequest"/>
	</wsdl:message>
	<wsdl:message name="LegalEntitySearchResponse">
		<wsdl:part name="parameters" element="search:LegalEntitySearchResponse"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityCheckDuplicateRequest">
		<wsdl:part name="parameters" element="dup:LegalEntityCheckDuplicateRequest"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityCheckDuplicateResponse">
		<wsdl:part name="parameters" element="dup:LegalEntityCheckDuplicateResponse"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityCheckCreateRequest">
		<wsdl:part name="parameters" element="cre:LegalEntityCheckCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityCheckCreateResponse">
		<wsdl:part name="parameters" element="cre:LegalEntityCheckCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityCheckModifyRequest">
		<wsdl:part name="parameters" element="mod:LegalEntityCheckModifyRequest"/>
	</wsdl:message>
	<wsdl:message name="LegalEntityCheckModifyResponse">
		<wsdl:part name="parameters" element="mod:LegalEntityCheckModifyResponse"/>
	</wsdl:message>
	<wsdl:message name="FaultMessage">
		<wsdl:part name="parameters" element="msg:MessageFault"/>
	</wsdl:message>
	<wsdl:portType name="LegalEntityPort">
		<wsdl:operation name="get">
			<wsdl:input message="tns:LegalEntityGetRequest"/>
			<wsdl:output message="tns:LegalEntityGetResponse"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input message="tns:LegalEntitySearchRequest"/>
			<wsdl:output message="tns:LegalEntitySearchResponse"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="checkduplicate">
			<wsdl:input message="tns:LegalEntityCheckDuplicateRequest"/>
			<wsdl:output message="tns:LegalEntityCheckDuplicateResponse"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="checkcreate">
			<wsdl:input message="tns:LegalEntityCheckCreateRequest"/>
			<wsdl:output message="tns:LegalEntityCheckCreateResponse"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="checkmodify">
			<wsdl:input message="tns:LegalEntityCheckModifyRequest"/>
			<wsdl:output message="tns:LegalEntityCheckModifyResponse"/>
			<wsdl:fault name="Fault" message="tns:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LegalEntitySOAP" type="tns:LegalEntityPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkduplicate">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/checkduplicate/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkcreate">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/checkcreate/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkmodify">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/legal_entity/service/es/sync/checkmodify/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LegalEntity">
		<wsdl:port name="LegalEntitySOAP" binding="tns:LegalEntitySOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/LegalEntity/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/LegalEntity/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
