wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_PostingCriteriaCode_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/posting_criteria_code/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:get="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:src="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="PostingCriteriaCode" targetNamespace="http://www.ec.europa.eu/budg/abac/posting_criteria_code/service/es/sync/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaCode_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaCode_Get_1.xsd">
		</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PostingCriteriaCodeSearchRequest">
		<wsdl:part name="parameters" element="src:PostingCriteriaCodeSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeSearchResponse">
		<wsdl:part name="parameters" element="src:PostingCriteriaCodeSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeGetRequest">
		<wsdl:part name="parameters" element="get:PostingCriteriaCodeGetRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeGetResponse">
		<wsdl:part name="parameters" element="get:PostingCriteriaCodeGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="PostingCriteriaCodePort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:PostingCriteriaCodeSearchRequest"/>
			<wsdl:output message="tns:PostingCriteriaCodeSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:PostingCriteriaCodeGetRequest"/>
			<wsdl:output message="tns:PostingCriteriaCodeGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PostingCriteriaCodeSOAP" type="tns:PostingCriteriaCodePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria_code/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria_code/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PostingCriteriaCode">
		<wsdl:port name="PostingCriteriaCodeSOAP" binding="tns:PostingCriteriaCodeSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/PostingCriteriaCode/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/PostingCriteriaCode/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
