wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_RetentionOnPayment_ES_Async_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:tns="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/v1" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:create="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" 
 xmlns:modify="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" 
 xmlns:delete="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" 
 xmlns:give_visa="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" 
 xmlns:msg="http://www.ec.europa.eu/budg/abac/message/v1" 
 xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" 
 name="RetentionOnPayment" 
 targetNamespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_Create_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_CreateResponsibleUser_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_CreatePaymentSuspensionPeriod_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_Modify_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_ModifyPaymentSuspensionPeriod_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_Delete_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_DeleteResponsibleUser_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/retention_on_payment/v1" schemaLocation="xsd/retentiononpayment/BUDG_RetentionOnPayment_GiveVisa_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/message/v1" schemaLocation="xsd/message/BUDG_Message_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RetentionOnPaymentCreateRequest">
		<wsdl:part name="parameters" element="create:RetentionOnPaymentCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentCreateResponse">
		<wsdl:part name="parameters" element="create:RetentionOnPaymentCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentCreateResponsibleUserRequest">
		<wsdl:part name="parameters" element="create:RetentionOnPaymentCreateResponsibleUserRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentCreateResponsibleUserResponse">
		<wsdl:part name="parameters" element="create:RetentionOnPaymentCreateResponsibleUserResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentCreatePaymentSuspensionPeriodRequest">
		<wsdl:part name="parameters" element="create:RetentionOnPaymentCreatePaymentSuspensionPeriodRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentCreatePaymentSuspensionPeriodResponse">
		<wsdl:part name="parameters" element="create:RetentionOnPaymentCreatePaymentSuspensionPeriodResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentModifyRequest">
		<wsdl:part name="parameters" element="modify:RetentionOnPaymentModifyRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentModifyResponse">
		<wsdl:part name="parameters" element="modify:RetentionOnPaymentModifyResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentModifyPaymentSuspensionPeriodRequest">
		<wsdl:part name="parameters" element="modify:RetentionOnPaymentModifyPaymentSuspensionPeriodRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentModifyPaymentSuspensionPeriodResponse">
		<wsdl:part name="parameters" element="modify:RetentionOnPaymentModifyPaymentSuspensionPeriodResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentDeleteRequest">
		<wsdl:part name="parameters" element="delete:RetentionOnPaymentDeleteRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentDeleteResponse">
		<wsdl:part name="parameters" element="delete:RetentionOnPaymentDeleteResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentDeleteResponsibleUserRequest">
		<wsdl:part name="parameters" element="delete:RetentionOnPaymentDeleteResponsibleUserRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentDeleteResponsibleUserResponse">
		<wsdl:part name="parameters" element="delete:RetentionOnPaymentDeleteResponsibleUserResponse"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentGiveVisaRequest">
		<wsdl:part name="parameters" element="give_visa:RetentionOnPaymentGiveVisaRequest"/>
	</wsdl:message>
	<wsdl:message name="RetentionOnPaymentGiveVisaResponse">
		<wsdl:part name="parameters" element="give_visa:RetentionOnPaymentGiveVisaResponse"/>
	</wsdl:message>
	<wsdl:portType name="RetentionOnPaymentPort">
		<wsdl:operation name="create">
			<wsdl:input message="tns:RetentionOnPaymentCreateRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentCreateResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="create_responsible_user">
			<wsdl:input message="tns:RetentionOnPaymentCreateResponsibleUserRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentCreateResponsibleUserResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="create_payment_suspension_period">
			<wsdl:input message="tns:RetentionOnPaymentCreatePaymentSuspensionPeriodRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentCreatePaymentSuspensionPeriodResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="modify">
			<wsdl:input message="tns:RetentionOnPaymentModifyRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentModifyResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="modify_payment_suspension_period">
			<wsdl:input message="tns:RetentionOnPaymentModifyPaymentSuspensionPeriodRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentModifyPaymentSuspensionPeriodResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:RetentionOnPaymentDeleteRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentDeleteResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="delete_responsible_user">
			<wsdl:input message="tns:RetentionOnPaymentDeleteResponsibleUserRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentDeleteResponsibleUserResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="give_visa">
			<wsdl:input message="tns:RetentionOnPaymentGiveVisaRequest"/>
			<wsdl:output message="tns:RetentionOnPaymentGiveVisaResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RetentionOnPaymentSOAP" type="tns:RetentionOnPaymentPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="create">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/create/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="create_responsible_user">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/create_responsible_user/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="create_payment_suspension_period">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/create_payment_suspension_period/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modify">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/modify/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="modify_payment_suspension_period">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/modify_payment_suspension_period/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/delete/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete_responsible_user">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/delete_responsible_user/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="give_visa">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/retention_on_payment/service/es/async/give_visa/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
