wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_Person_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/person/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:get="http://www.ec.europa.eu/budg/abac/person/v1" xmlns:src="http://www.ec.europa.eu/budg/abac/person/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="Person" targetNamespace="http://www.ec.europa.eu/budg/abac/person/service/es/sync/v1">
	<wsdl:import location="FaultMessage.wsdl" namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/person/v1" schemaLocation="xsd/person/BUDG_Person_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/person/v1" schemaLocation="xsd/person/BUDG_Person_Get_1.xsd">
		</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PersonSearchRequest">
		<wsdl:part name="parameters" element="src:PersonSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="PersonSearchResponse">
		<wsdl:part name="parameters" element="src:PersonSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="PersonGetRequest">
		<wsdl:part name="parameters" element="get:PersonGetRequest"/>
	</wsdl:message>
	<wsdl:message name="PersonGetResponse">
		<wsdl:part name="parameters" element="get:PersonGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="PersonPort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:PersonSearchRequest"/>
			<wsdl:output message="tns:PersonSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:PersonGetRequest"/>
			<wsdl:output message="tns:PersonGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonSOAP" type="tns:PersonPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/person/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/person/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Person">
		<wsdl:port name="PersonSOAP" binding="tns:PersonSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/Person/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/Person/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
