wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_PostingCriteria_ES_Async_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/posting_criteria/service/es/async/v1" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:create="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:modify="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:delete="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:msg="http://www.ec.europa.eu/budg/abac/message/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="PostingCriteria" targetNamespace="http://www.ec.europa.eu/budg/abac/posting_criteria/service/es/async/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaCode_Create_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaCode_Modify_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaCode_Delete_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/message/v1" schemaLocation="xsd/message/BUDG_Message_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PostingCriteriaCodeCreateRequest">
		<wsdl:part name="parameters" element="create:PostingCriteriaCodeCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeCreateResponse">
		<wsdl:part name="parameters" element="create:PostingCriteriaCodeCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeModifyRequest">
		<wsdl:part name="parameters" element="modify:PostingCriteriaCodeModifyRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeModifyResponse">
		<wsdl:part name="parameters" element="modify:PostingCriteriaCodeModifyResponse"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeDeleteRequest">
		<wsdl:part name="parameters" element="delete:PostingCriteriaCodeDeleteRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaCodeDeleteResponse">
		<wsdl:part name="parameters" element="delete:PostingCriteriaCodeDeleteResponse"/>
	</wsdl:message>
	<wsdl:portType name="PostingCriteriaPort">
		<wsdl:operation name="create">
			<wsdl:input message="tns:PostingCriteriaCodeCreateRequest"/>
			<wsdl:output message="tns:PostingCriteriaCodeCreateResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="modify">
			<wsdl:input message="tns:PostingCriteriaCodeModifyRequest"/>
			<wsdl:output message="tns:PostingCriteriaCodeModifyResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<wsdl:input message="tns:PostingCriteriaCodeDeleteRequest"/>
			<wsdl:output message="tns:PostingCriteriaCodeDeleteResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PostingCriteriaSOAP" type="tns:PostingCriteriaPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="create">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria/service/es/async/create/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modify">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria/service/es/async/modify/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="delete">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria/service/es/async/delete/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
