wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_CreditOperation_ES_Async_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.ec.europa.eu/budg/abac/credit_operation/service/es/async/v1" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:co="http://www.ec.europa.eu/budg/abac/credit_operation/v1" 
xmlns:msg="http://www.ec.europa.eu/budg/abac/message/v1" 
xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" 
name="CreditOperation" 
targetNamespace="http://www.ec.europa.eu/budg/abac/credit_operation/service/es/async/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/credit_operation/v1" schemaLocation="xsd/creditoperation/BUDG_CreditOperation_Create_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/credit_operation/v1" schemaLocation="xsd/creditoperation/BUDG_CreditOperation_GiveVisa_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/message/v1" schemaLocation="xsd/message/BUDG_Message_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CreditOperationCreateRequest">
		<wsdl:part name="parameters" element="co:CreditOperationCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="CreditOperationCreateResponse">
		<wsdl:part name="parameters" element="co:CreditOperationCreateResponse"/>
	</wsdl:message>
	<wsdl:message name="CreditOperationCreateDetailRequest">
		<wsdl:part name="parameters" element="co:CreditOperationCreateDetailRequest"/>
	</wsdl:message>
	<wsdl:message name="CreditOperationCreateDetailResponse">
		<wsdl:part name="parameters" element="co:CreditOperationCreateDetailResponse"/>
	</wsdl:message>
	<wsdl:message name="CreditOperationGiveVisaRequest">
		<wsdl:part name="parameters" element="co:CreditOperationGiveVisaRequest"/>
	</wsdl:message>
	<wsdl:message name="CreditOperationGiveVisaResponse">
		<wsdl:part name="parameters" element="co:CreditOperationGiveVisaResponse"/>
	</wsdl:message>
	<wsdl:portType name="CreditOperationPort">
		<wsdl:operation name="create">
			<wsdl:input message="tns:CreditOperationCreateRequest"/>
			<wsdl:output message="tns:CreditOperationCreateResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="create_detail">
			<wsdl:input message="tns:CreditOperationCreateDetailRequest"/>
			<wsdl:output message="tns:CreditOperationCreateDetailResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="give_visa">
			<wsdl:input message="tns:CreditOperationGiveVisaRequest"/>
			<wsdl:output message="tns:CreditOperationGiveVisaResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CreditOperationSOAP" type="tns:CreditOperationPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="create">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/credit_operation/service/es/async/create/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="create_detail">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/credit_operation/service/es/async/create_detail/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="give_visa">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/credit_operation/service/es/async/give_visa/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
