wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_InvoiceType_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/invoice_type/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:get="http://www.ec.europa.eu/budg/abac/invoice_type/v1" xmlns:fnd="http://www.ec.europa.eu/budg/abac/invoice_type/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="InvoiceType" targetNamespace="http://www.ec.europa.eu/budg/abac/invoice_type/service/es/sync/v1">
	<wsdl:import location="FaultMessage.wsdl" namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/invoice_type/v1" schemaLocation="xsd/invoice/BUDG_InvoiceType_Get_1.xsd">
		</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/invoice_type/v1" schemaLocation="xsd/invoice/BUDG_InvoiceType_Find_1.xsd">
		</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InvoiceTypeGetRequest">
		<wsdl:part name="parameters" element="get:InvoiceTypeGetRequest"/>
	</wsdl:message>
	<wsdl:message name="InvoiceTypeGetResponse">
		<wsdl:part name="parameters" element="get:InvoiceTypeGetResponse"/>
	</wsdl:message>
	<wsdl:message name="InvoiceTypeFindRequest">
		<wsdl:part name="parameters" element="fnd:InvoiceTypeFindRequest"/>
	</wsdl:message>
	<wsdl:message name="InvoiceTypeFindResponse">
		<wsdl:part name="parameters" element="fnd:InvoiceTypeFindResponse"/>
	</wsdl:message>
	<wsdl:portType name="InvoiceTypePort">
		<wsdl:operation name="get">
			<wsdl:input message="tns:InvoiceTypeGetRequest"/>
			<wsdl:output message="tns:InvoiceTypeGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="find">
			<wsdl:input message="tns:InvoiceTypeFindRequest"/>
			<wsdl:output message="tns:InvoiceTypeFindResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InvoiceTypeSOAP" type="tns:InvoiceTypePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/invoice_type/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="find">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/invoice_type/service/es/sync/find/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="InvoiceType">
		<wsdl:port name="InvoiceTypeSOAP" binding="tns:InvoiceTypeSOAP">
			<!--<soap:address location="http://localhost:7001/abac/InvoiceType/xxx/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/InvoiceType/xxx/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
