wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_Country_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.ec.europa.eu/budg/abac/country/service/es/sync/v1" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:get="http://www.ec.europa.eu/budg/abac/country/v1" xmlns:src="http://www.ec.europa.eu/budg/abac/country/v1" 
xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="Country" targetNamespace="http://www.ec.europa.eu/budg/abac/country/service/es/sync/v1">
	<wsdl:import location="FaultMessage.wsdl" namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/country/v1" schemaLocation="xsd/country/BUDG_Country_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/country/v1" schemaLocation="xsd/country/BUDG_Country_Get_1.xsd">
		</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CountrySearchRequest">
		<wsdl:part name="parameters" element="src:CountrySearchRequest"/>
	</wsdl:message>
	<wsdl:message name="CountrySearchResponse">
		<wsdl:part name="parameters" element="src:CountrySearchResponse"/>
	</wsdl:message>
	<wsdl:message name="CountryGetRequest">
		<wsdl:part name="parameters" element="get:CountryGetRequest"/>
	</wsdl:message>
	<wsdl:message name="CountryGetResponse">
		<wsdl:part name="parameters" element="get:CountryGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="CountryPort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:CountrySearchRequest"/>
			<wsdl:output message="tns:CountrySearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:CountryGetRequest"/>
			<wsdl:output message="tns:CountryGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CountrySOAP" type="tns:CountryPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/country/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/country/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Country">
		<wsdl:port name="CountrySOAP" binding="tns:CountrySOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/Country/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/Country/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
