wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_Guarantee_ES_Async_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/v1" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:create="http://www.ec.europa.eu/budg/abac/guarantee/v1" 
xmlns:delete="http://www.ec.europa.eu/budg/abac/guarantee/v1" 
xmlns:modify="http://www.ec.europa.eu/budg/abac/guarantee/v1" 
xmlns:give_visa="http://www.ec.europa.eu/budg/abac/guarantee/v1" 
xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" 
targetNamespace="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/guarantee/v1" schemaLocation="xsd/guarantee/BUDG_Guarantee_Create_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/guarantee/v1" schemaLocation="xsd/guarantee/BUDG_Guarantee_Modify_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/guarantee/v1" schemaLocation="xsd/guarantee/BUDG_Guarantee_Delete_1.xsd"/>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/guarantee/v1" schemaLocation="xsd/guarantee/BUDG_Guarantee_GiveVisa_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="GuaranteeCreateRequest">
		<wsdl:part name="parameters" element="create:GuaranteeCreateRequest"/>
	</wsdl:message>
	<wsdl:message name="GuaranteeCreateResponse">
		<wsdl:part name="parameters" element="create:GuaranteeCreateResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GuaranteeCreateCommitmentLinkRequest">
		<wsdl:part name="parameters" element="create:GuaranteeCreateCommitmentLinkRequest"/>
	</wsdl:message>
	<wsdl:message name="GuaranteeCreateCommitmentLinkResponse">
		<wsdl:part name="parameters" element="create:GuaranteeCreateCommitmentLinkResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GuaranteeCreateLegalEntityLinkRequest">
		<wsdl:part name="parameters" element="create:GuaranteeCreateLegalEntityLinkRequest"/>
	</wsdl:message>
	<wsdl:message name="GuaranteeCreateLegalEntityLinkResponse">
		<wsdl:part name="parameters" element="create:GuaranteeCreateLegalEntityLinkResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GuaranteeModifyRequest">
		<wsdl:part name="parameters" element="modify:GuaranteeModifyRequest"/>
	</wsdl:message>
	
	<wsdl:message name="GuaranteeModifyResponse">
		<wsdl:part name="parameters" element="modify:GuaranteeModifyResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GuaranteeGiveVisaRequest">
		<wsdl:part name="parameters" element="give_visa:GuaranteeGiveVisaRequest"/>
	</wsdl:message>
	<wsdl:message name="GuaranteeGiveVisaResponse">
		<wsdl:part name="parameters" element="give_visa:GuaranteeGiveVisaResponse"/>
	</wsdl:message>
		
	<wsdl:message name="GuaranteeDeleteLegalEntityLinkRequest">
		<wsdl:part name="parameters" element="delete:GuaranteeDeleteLegalEntityLinkRequest"/>
	</wsdl:message>
	<wsdl:message name="GuaranteeDeleteLegalEntityLinkResponse">
		<wsdl:part name="parameters" element="delete:GuaranteeDeleteLegalEntityLinkResponse"/>
	</wsdl:message>
	
	<wsdl:portType name="GuaranteePort">
	
		<wsdl:operation name="create">
			<wsdl:input message="tns:GuaranteeCreateRequest"/>
			<wsdl:output message="tns:GuaranteeCreateResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		
		<wsdl:operation name="modify">
			<wsdl:input message="tns:GuaranteeModifyRequest"/>
			<wsdl:output message="tns:GuaranteeModifyResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		
		<wsdl:operation name="create_commitment_link">
			<wsdl:input message="tns:GuaranteeCreateCommitmentLinkRequest"/>
			<wsdl:output message="tns:GuaranteeCreateCommitmentLinkResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		
		<wsdl:operation name="create_legal_entity_link">
			<wsdl:input message="tns:GuaranteeCreateLegalEntityLinkRequest"/>
			<wsdl:output message="tns:GuaranteeCreateLegalEntityLinkResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		
		<wsdl:operation name="give_visa">
			<wsdl:input message="tns:GuaranteeGiveVisaRequest"/>
			<wsdl:output message="tns:GuaranteeGiveVisaResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>

		<wsdl:operation name="delete_legal_entity_link">
			<wsdl:input message="tns:GuaranteeDeleteLegalEntityLinkRequest"/>
			<wsdl:output message="tns:GuaranteeDeleteLegalEntityLinkResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		

	</wsdl:portType>
	<wsdl:binding name="GuaranteeSOAP" type="tns:GuaranteePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	
		

		<wsdl:operation name="create">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/create/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
	
		<wsdl:operation name="create_commitment_link">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/create_commitment_link/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="create_legal_entity_link">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/create_legal_entity_link/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="delete_legal_entity_link">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/delete_legal_entity_link/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="give_visa">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/give_visa/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="modify">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/guarantee/service/es/async/modify/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>		
	</wsdl:binding>
</wsdl:definitions>
