wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_PostingCriteriaType_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/posting_criteria_type/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:get="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:src="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="PostingCriteriaType" targetNamespace="http://www.ec.europa.eu/budg/abac/posting_criteria_type/service/es/sync/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaType_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/posting_criteria/v1" schemaLocation="xsd/postingcriteria/BUDG_PostingCriteriaType_Get_1.xsd">
		</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PostingCriteriaTypeSearchRequest">
		<wsdl:part name="parameters" element="src:PostingCriteriaTypeSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaTypeSearchResponse">
		<wsdl:part name="parameters" element="src:PostingCriteriaTypeSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaTypeGetRequest">
		<wsdl:part name="parameters" element="get:PostingCriteriaTypeGetRequest"/>
	</wsdl:message>
	<wsdl:message name="PostingCriteriaTypeGetResponse">
		<wsdl:part name="parameters" element="get:PostingCriteriaTypeGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="PostingCriteriaTypePort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:PostingCriteriaTypeSearchRequest"/>
			<wsdl:output message="tns:PostingCriteriaTypeSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:PostingCriteriaTypeGetRequest"/>
			<wsdl:output message="tns:PostingCriteriaTypeGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PostingCriteriaTypeSOAP" type="tns:PostingCriteriaTypePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria_type/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/posting_criteria_type/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PostingCriteriaType">
		<wsdl:port name="PostingCriteriaTypeSOAP" binding="tns:PostingCriteriaTypeSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/PostingCriteriaType/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/PostingCriteriaType/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
