wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_Contract_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/contract/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:get="http://www.ec.europa.eu/budg/abac/contract/v1" xmlns:src="http://www.ec.europa.eu/budg/abac/contract/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="Contract" targetNamespace="http://www.ec.europa.eu/budg/abac/contract/service/es/sync/v1">
	<wsdl:import location="FaultMessage.wsdl" namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/contract/v1" schemaLocation="xsd/contract/BUDG_Contract_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/contract/v1" schemaLocation="xsd/contract/BUDG_Contract_Get_1.xsd">
		</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ContractSearchRequest">
		<wsdl:part name="parameters" element="src:ContractSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="ContractSearchResponse">
		<wsdl:part name="parameters" element="src:ContractSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="ContractGetRequest">
		<wsdl:part name="parameters" element="get:ContractGetRequest"/>
	</wsdl:message>
	<wsdl:message name="ContractGetResponse">
		<wsdl:part name="parameters" element="get:ContractGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="ContractPort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:ContractSearchRequest"/>
			<wsdl:output message="tns:ContractSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:ContractGetRequest"/>
			<wsdl:output message="tns:ContractGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ContractSOAP" type="tns:ContractPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/contract/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/contract/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Contract">
		<wsdl:port name="ContractSOAP" binding="tns:ContractSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/Contract/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/Contract/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
