wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_BudgetaryCommitmentLevel1_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:src="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/v1" xmlns:get="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/v1" xmlns:tns="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="BudgetaryCommitmentLevel1" targetNamespace="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/service/es/sync/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/v1">
			<xsd:include schemaLocation="xsd/budgetarycommitmentlevel1/BUDG_BudgetaryCommitmentLevel1_Get_1.xsd"/>
			<xsd:include schemaLocation="xsd/budgetarycommitmentlevel1/BUDG_BudgetaryCommitmentLevel1_Search_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="BudgetaryCommitmentLevel1GetRequest">
		<wsdl:part name="request" element="get:BudgetaryCommitmentLevel1GetRequest"/>
	</wsdl:message>
	<wsdl:message name="BudgetaryCommitmentLevel1GetResponse">
		<wsdl:part name="response" element="get:BudgetaryCommitmentLevel1GetResponse"/>
	</wsdl:message>
	<wsdl:message name="BudgetaryCommitmentLevel1SearchRequest">
		<wsdl:part name="parameters" element="src:BudgetaryCommitmentLevel1SearchRequest"/>
	</wsdl:message>
	<wsdl:message name="BudgetaryCommitmentLevel1SearchResponse">
		<wsdl:part name="parameters" element="src:BudgetaryCommitmentLevel1SearchResponse"/>
	</wsdl:message>
	<wsdl:portType name="BudgetaryCommitmentLevel1Port">
		<wsdl:operation name="get">
			<wsdl:input message="tns:BudgetaryCommitmentLevel1GetRequest"/>
			<wsdl:output message="tns:BudgetaryCommitmentLevel1GetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="search">
			<wsdl:input message="tns:BudgetaryCommitmentLevel1SearchRequest"/>
			<wsdl:output message="tns:BudgetaryCommitmentLevel1SearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BudgetaryCommitmentLevel1SOAP" type="tns:BudgetaryCommitmentLevel1Port">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/budgetary_commitment_level1/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BudgetaryCommitmentLevel1">
		<wsdl:port name="BudgetaryCommitmentLevel1SOAP" binding="tns:BudgetaryCommitmentLevel1SOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/BudgetaryCommitmentLevel1/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/BudgetaryCommitmentLevel1/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
