wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_Invoice_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2011 rel. 2 sp1 (http://www.altova.com) by - - (European Commission DG BUDGET) -->
<!-- BUDG version 0.05 -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:src="http://www.ec.europa.eu/budg/abac/invoice/v1" xmlns:get="http://www.ec.europa.eu/budg/abac/invoice/v1" xmlns:tns="http://www.ec.europa.eu/budg/abac/invoice/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="Invoice" targetNamespace="http://www.ec.europa.eu/budg/abac/invoice/service/es/sync/v1">
	<wsdl:import namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1" location="FaultMessage.wsdl"/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.ec.europa.eu/budg/abac/invoice/v1">
			<xsd:include schemaLocation="xsd/invoice/BUDG_Invoice_Search_1.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.ec.europa.eu/budg/abac/invoice/v1">
			<xsd:include schemaLocation="xsd/invoice/BUDG_Invoice_Get_1.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InvoiceGetRequest">
		<wsdl:part name="request" element="get:InvoiceGetRequest"/>
	</wsdl:message>
	<wsdl:message name="InvoiceGetResponse">
		<wsdl:part name="response" element="get:InvoiceGetResponse"/>
	</wsdl:message>
	<wsdl:message name="InvoiceSearchRequest">
		<wsdl:part name="request" element="src:InvoiceSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="InvoiceSearchResponse">
		<wsdl:part name="response" element="src:InvoiceSearchResponse"/>
	</wsdl:message>
	<wsdl:portType name="InvoicePort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:InvoiceSearchRequest"/>
			<wsdl:output message="tns:InvoiceSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:InvoiceGetRequest"/>
			<wsdl:output message="tns:InvoiceGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="InvoiceSOAP" type="tns:InvoicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/invoice/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/invoice/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Invoice">
		<wsdl:port name="Invoice" binding="tns:InvoiceSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/Invoice/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/Invoice/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
