wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_RecoverableVatRule_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:src="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/v1" xmlns:get="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="RecoverableVatRule" targetNamespace="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/service/es/sync/v1">
	<wsdl:import location="FaultMessage.wsdl" namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/v1" schemaLocation="xsd/recoverablevatrule/BUDG_RecoverableVatRule_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/v1" schemaLocation="xsd/recoverablevatrule/BUDG_RecoverableVatRule_Get_1.xsd">
    	</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="RecoverableVatRuleSearchRequest">
		<wsdl:part name="parameters" element="src:RecoverableVatRuleSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="RecoverableVatRuleSearchResponse">
		<wsdl:part name="parameters" element="src:RecoverableVatRuleSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="RecoverableVatRuleGetRequest">
		<wsdl:part name="parameters" element="get:RecoverableVatRuleGetRequest"/>
	</wsdl:message>
	<wsdl:message name="RecoverableVatRuleGetResponse">
		<wsdl:part name="parameters" element="get:RecoverableVatRuleGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="RecoverableVatRulePort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:RecoverableVatRuleSearchRequest"/>
			<wsdl:output message="tns:RecoverableVatRuleSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:RecoverableVatRuleGetRequest"/>
			<wsdl:output message="tns:RecoverableVatRuleGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="RecoverableVatRuleSOAP" type="tns:RecoverableVatRulePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/recoverable_vat_rule/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="RecoverableVatRule">
		<wsdl:port name="RecoverableVatRuleSOAP" binding="tns:RecoverableVatRuleSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/RecoverableVatRule/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/RecoverableVatRule/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
