wifi4eu-financial/wifi4eu-financial-web/src/main/webapp/wsdl/BUDG_PaymentRequest_ES_Sync_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ec.europa.eu/budg/abac/payment_request/service/es/sync/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:src="http://www.ec.europa.eu/budg/abac/payment_request/v1" xmlns:fault="http://www.ec.europa.eu/budg/abac/messagefault/v1" name="PaymentRequest" targetNamespace="http://www.ec.europa.eu/budg/abac/payment_request/service/es/sync/v1">
	<wsdl:import location="FaultMessage.wsdl" namespace="http://www.ec.europa.eu/budg/abac/messagefault/v1"/>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/payment_request/v1" schemaLocation="xsd/paymentrequest/BUDG_PaymentRequest_Search_1.xsd">
    	</xsd:import>
			<xsd:import namespace="http://www.ec.europa.eu/budg/abac/payment_request/v1" schemaLocation="xsd/paymentrequest/BUDG_PaymentRequest_Get_1.xsd">
			</xsd:import>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="PaymentRequestSearchRequest">
		<wsdl:part name="parameters" element="src:PaymentRequestSearchRequest"/>
	</wsdl:message>
	<wsdl:message name="PaymentRequestSearchResponse">
		<wsdl:part name="parameters" element="src:PaymentRequestSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="PaymentRequestGetRequest">
		<wsdl:part name="parameters" element="src:PaymentRequestGetRequest"/>
	</wsdl:message>
	<wsdl:message name="PaymentRequestGetResponse">
		<wsdl:part name="parameters" element="src:PaymentRequestGetResponse"/>
	</wsdl:message>
	<wsdl:portType name="PaymentRequestPort">
		<wsdl:operation name="search">
			<wsdl:input message="tns:PaymentRequestSearchRequest"/>
			<wsdl:output message="tns:PaymentRequestSearchResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
		<wsdl:operation name="get">
			<wsdl:input message="tns:PaymentRequestGetRequest"/>
			<wsdl:output message="tns:PaymentRequestGetResponse"/>
			<wsdl:fault name="Fault" message="fault:FaultMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PaymentRequestSOAP" type="tns:PaymentRequestPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="search">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/payment_request/service/es/sync/search/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="get">
			<soap:operation soapAction="http://www.ec.europa.eu/budg/abac/payment_request/service/es/sync/get/v1"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault"><soap:fault name="Fault" use="literal"/></wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PaymentRequest">
		<wsdl:port name="PaymentRequestSOAP" binding="tns:PaymentRequestSOAP">
			<!--<soap:address location="http://localhost:7001/abac/service/PaymentRequest/v1"/>-->
			<soap:address location="https://intragate.test.ec.europa.eu/webpaxanwtst_nt_pub/abac/service/PaymentRequest/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
