wifi4eu-jagate/src/main/resources/jagate/domain/base/v2/JAgateBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema 
	elementFormDefault="qualified" 
	version="2.2.1"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" 
	xmlns="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
	xmlns:jagref="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1"
	xmlns:constants="http://ec.europa.eu/rdg/jagate/ws/domain/constants/v1"
	jaxb:version="2.1">

	<!-- Importing reference data schema -->
	<xsd:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1" schemaLocation="../../reference/v1/ReferenceData.xsd" />
	<xsd:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/constants/v1" schemaLocation="../../constants/v1/Constants.xsd" />

	<!-- Reusable root elements -->
	<!-- Reusable root elements -->
	<xsd:element name="Exception" type="JAgateException" />
	<xsd:element name="Response" type="BaseResponseMessageType" />
	<xsd:element name="RequestId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>JAgate internal request identifier. This will help to easily identify the request to which the response is related.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Callback" type="CallbackType" />
	<xsd:element name="LocObjForeignId" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A string that uniquely identify the object, generated by JAgate.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="Message" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation>A free text message.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<!-- Types -->
	<xsd:complexType name="AbstractMessageType" abstract="true">
		<xsd:sequence>
			<xsd:element name="From" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>The message originator like Sygma, eFlow and so on...If some specific configuration parameters are defined in
						JAgate for this client (like default values), they will be retrieved and used in the generated ABAC transaction.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseRequestMessageType">
		<xsd:complexContent>
			<xsd:extension base="AbstractMessageType">
				<xsd:sequence>
					<xsd:element ref="Callback" minOccurs="0" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AbstractResponseMessageType" abstract="true">
		<xsd:sequence>
			<xsd:element name="ReturnCode" type="xsd:long">
				<xsd:annotation>
					<xsd:documentation>0 means OK and -1 means NOK</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Message" type="MessageType" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseResponseMessageType">
		<xsd:complexContent>
			<xsd:extension base="AbstractResponseMessageType">
				<xsd:sequence>
					<xsd:element ref="LocObjForeignId" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionResponseMessageType">
		<xsd:complexContent>
			<xsd:extension base="IdentifiedResponseMessageType">
				<xsd:sequence>
					<xsd:element name="Transaction" type="jagref:EClientTransactionType" />
					<xsd:element name="WorkflowStatus" type="xsd:string" />
					<xsd:element name="ObjectStatus" type="jagref:EObjectStatusType" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IdentifiedResponseMessageType">
		<xsd:complexContent>
			<xsd:extension base="BaseResponseMessageType">
				<xsd:sequence>
					<xsd:element ref="RequestId" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CollapsedString">
		<xsd:restriction base="xsd:string">
			<xsd:whiteSpace value="collapse" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonEmptyString">
		<xsd:restriction base="CollapsedString">
			<xsd:minLength value="1" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NonEmptyStringMax60">
		<xsd:restriction base="CollapsedString">
			<xsd:minLength value="1" />
			<xsd:maxLength value="60" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CountryCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Must conform to ISO 3166-1 Representation of
				Countries.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z]" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LanguageCodeType">
		<xsd:annotation>
			<xsd:documentation>
				Must conform to ISO 3 Representation of Languages.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z][A-Z][A-Z]" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="negativeDecimal">
	  	<xsd:restriction base="xsd:decimal">
	    	<xsd:maxExclusive value="0"/>
	    	<xsd:fractionDigits value="2"/>
	  	</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="EmbebedBaseVisaType">
		<xsd:sequence>
			<xsd:element name="AgentId" type="NonEmptyString" />
			<xsd:element name="AgentType" type="jagref:EAgentType" />
			<xsd:element name="ActionCd" type="jagref:EActionCodeType" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BaseVisaType">
		<xsd:complexContent>
			<xsd:extension base="EmbebedBaseVisaType">
				<xsd:sequence>
					<xsd:element ref="LocObjForeignId" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="JAgateException">
		<xsd:sequence>
			<xsd:element name="code" type="xsd:string" />
			<xsd:element name="description" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:complexType name="CallbackType">
		<xsd:choice>
			<xsd:element name="JmsCallbackSpec" type="JmsCallbackSpecType" />
			<xsd:element name="EjbCallbackSpec" type="EjbCallbackSpecType" />
			<xsd:element name="WebserviceCallbackSpec" type="WebServiceCallbackSpecType" />
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="JmsCallbackSpecType">
		<xsd:sequence>
			<xsd:element name="Type" type="jagref:EMessagingType" />
			<xsd:element name="JndiName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="WebServiceCallbackSpecType">
		<xsd:sequence>
			<xsd:element name="WsdlUrl" type="xsd:anyURI" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EjbCallbackSpecType">
		<xsd:sequence>
			<xsd:element name="JndiName" type="xsd:string" />
			<xsd:element name="BusinessInterfaceType" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MessageType">
		<xsd:attribute name="type" type="jagref:EMessageType" />
		<xsd:attribute name="text" type="xsd:string" use="optional" />
	</xsd:complexType>	
	<xsd:simpleType name="Year">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9][0-9][0-9][0-9]" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Ccm2Code" >
		<xsd:restriction base="xsd:int" />
	</xsd:simpleType>
	
	<xsd:complexType name="BaseRequest">
		<xsd:sequence>
			<xsd:element name="RequestId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClientRef" type="xsd:string" />
			<xsd:element name="LocalObjectForeignId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Status" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RequestType" type="constants:ERequestType" />
			<xsd:element name="Client" type="constants:ERequestClient" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Response">
		<xsd:sequence>
			<xsd:element name="RequestId" type="NonEmptyString" minOccurs="0" />
			<xsd:element name="ClientRef" type="xsd:string" minOccurs="0"  />
			<xsd:element name="LocalObjectForeignId" type="xsd:string" />
			<xsd:element name="ReturnCode" type="xsd:long" />
			<xsd:element name="Message" type="xsd:string" />
			<xsd:element name="Element" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded" nillable="true" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Visa">
		<xsd:sequence>
			<xsd:element name="AgentId" type="NonEmptyString" />
			<xsd:element name="AgentType" type="xsd:string" minOccurs="0" />
			<xsd:element name="TransTypeCd" type="xsd:string" minOccurs="0" />
			<xsd:element name="TransAreaCd" type="xsd:string" minOccurs="0" />
			<xsd:element name="CostCenterCd" type="NonEmptyString" minOccurs="1" />
			<xsd:element name="OrgName" type="NonEmptyString" minOccurs="1" />
			<xsd:element name="SuppliedAgentName" type="xsd:string" minOccurs="0" />
			<xsd:element name="SignAsAgentType" type="xsd:string" minOccurs="0" />
			<xsd:element name="ActionCd" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="AresDocumentList">
		<xsd:sequence>
			<xsd:element name="AresDocument" type="AresDocument" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AresDocument">
		<xsd:sequence>
			<xsd:element name="AresReference" type="NonEmptyString" />
			<xsd:element name="Description" type="NonEmptyString" />			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ScannedDocumentList">
		<xsd:sequence>
			<xsd:element name="ScannedDocument" type="ScannedDocument" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ScannedDocument">
		<xsd:sequence>
			<xsd:element name="Filetype" type="NonEmptyString" />				
			<xsd:element name="Description" type="NonEmptyString" />	
			<xsd:element name="BinaryContent" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="SecurityContext">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="SystemId" type="xsd:string"/>
				<xsd:element name="EcasDomain" type="xsd:string" minOccurs="0"/>
				<xsd:element name="EcasUserId" type="xsd:string" minOccurs="0"/>
				<xsd:element name="OnBehalfOfSystemId" type="xsd:string" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="RequestHeader">
		<xsd:sequence>
			<xsd:element ref="SecurityContext" minOccurs="0" />
			<xsd:element name="ResultSetContext" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="StatelessPagination" minOccurs="0" >
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="PageSize" type="xsd:integer" minOccurs="0"/>
									<xsd:element name="PageNumber" type="xsd:integer" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
    <xsd:complexType name="SoaResponseType">
        <xsd:sequence>
            <xsd:element name="ReturnCode" type="xsd:long">
                <xsd:annotation>
                    <xsd:documentation>0 means OK and -1 means NOK</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="soaResponseMessage" type="SoaResponseMessageType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
	<xsd:complexType name="SoaResponseMessageType">
		<xsd:sequence>
			<xsd:element name="contextField" type="xsd:string" minOccurs="0" />
            <xsd:element name="severity" type="xsd:string" minOccurs="0" />
			<xsd:element name="businessRuleCode" type="xsd:string" minOccurs="0" />
			<xsd:element name="message" type="xsd:string"  />
			<xsd:element name="detailMessage" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:annotation>
		<xsd:documentation>v2.1.0 - 20160116 - Added new element RequestHeader</xsd:documentation>
		<xsd:documentation>v2.2.0 - 20171026 - Added new element SoaResponseType. This element contains the filtered results from the used services</xsd:documentation>
		<xsd:documentation>v2.2.1 - 20180123 - Added new element SoaResponseType. This element contains the filtered results from the used services</xsd:documentation>
	</xsd:annotation>
</xsd:schema>