wifi4eu-jagate/src/main/resources/jagate/wsdls/commitment/V1/Commitment.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="CommitmentWS" 
    xmlns:jagate="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2"    
    xmlns:commitment="http://ec.europa.eu/rdg/jagate/ws/domain/commitment/v1"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/commitment/v1"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/commitment/v1">

	<!-- Types -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/commitment/v1" schemaLocation="../../../domain/commitment/v1/Commitment.xsd" />
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" schemaLocation="../../../domain/base/v2/JAgateBase.xsd" />
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="CommitmentException">
		<wsdl:part element="jagate:Exception" name="Exception" />
	</wsdl:message>

	<wsdl:message name="CreateCommitment">
		<wsdl:part element="commitment:CreateCommitment" name="request" />
	</wsdl:message>

	<wsdl:message name="CreateCommitmentResponse">
		<wsdl:part element="commitment:CreateCommitmentResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="CreateCommitmentException">
		<wsdl:part element="jagate:Exception" name="exception" />
	</wsdl:message>	

	<wsdl:message name="UpdateCommitment">
		<wsdl:part element="commitment:UpdateCommitment" name="request" />
	</wsdl:message>

	<wsdl:message name="UpdateCommitmentResponse">
		<wsdl:part element="commitment:UpdateCommitmentResponse" name="response" />
	</wsdl:message>	

	<wsdl:message name="UpdateCommitmentException">
		<wsdl:part element="jagate:Exception" name="exception" />
	</wsdl:message>	

	<wsdl:portType name="ICommitmentService">
		<wsdl:documentation>Creates the Commitment with the given parameters.</wsdl:documentation>
		<wsdl:operation name="Create">
			<wsdl:input message="CreateCommitment" />
			<wsdl:output message="CreateCommitmentResponse" />
			<wsdl:fault name="CreateCommitmentException" message="CreateCommitmentException"/>
		</wsdl:operation>
		<wsdl:operation name="Update">
			<wsdl:input message="UpdateCommitment" />
			<wsdl:output message="UpdateCommitmentResponse" />
			<wsdl:fault name="UpdateCommitmentException" message="UpdateCommitmentException"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="ICommitmentServiceBinding" type="ICommitmentService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Create">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CreateCommitmentException">
				<soap:fault name="CreateCommitmentException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="Update">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="UpdateCommitmentException">
				<soap:fault name="UpdateCommitmentException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="CommitmentService">
		<wsdl:port binding="ICommitmentServiceBinding" name="CommitmentServiceBinding">
			<soap:address location="http://ec.europa.eu/rdg/jagate/ws/commitment/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>