wifi4eu-jagate/src/main/resources/jagate/cdm/model/event-legacy/events/expert/profile/levalidationrequest-event/V1/LEValidationRequestEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 (http://www.altova.com) by apostlt (European Commission - DG INFSO) -->
<xs:schema xmlns:evt="http://ec.europa.eu/rdg/efp/domain/event/v1_0" xmlns:ns2="http://ec.europa.eu/research/fp/model/base/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:expertRef="http://ec.europa.eu/research/fp/model/expert-ref/V1" xmlns:ns1="http://ec.europa.eu/rdg/efp/domain/event/expert/profile/levalidationrequest-event/V1" targetNamespace="http://ec.europa.eu/rdg/efp/domain/event/expert/profile/levalidationrequest-event/V1" elementFormDefault="qualified" version="1.4.0">
	<xs:import namespace="http://ec.europa.eu/rdg/efp/domain/event/v1_0" schemaLocation="../../../../../../eventbase/V0/EventBase.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/expert-ref/V1" schemaLocation="../../../../../../expert-ref/V1/ExpertRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/base/V1" schemaLocation="../../../../../../base/V1/Base.xsd"/>
	<xs:complexType name="LEValidationRequestEventType">
		<xs:annotation>
			<xs:documentation>Event generated by the back office when the expert needs to be contracted, and needs to validate the status of the LE or to submit a request for creation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="evt:EventBodyType">
				<xs:sequence>
					<xs:element name="ExpertId" type="expertRef:ExpertIdType" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The list of expert candidature reference numbers for the experts that need to be notified.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PoolContext" type="ns1:PoolContextType" minOccurs="1" maxOccurs="1" />
					<xs:element name="ValidationRequestDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>The date when the back office requested the validation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="eventOriginator" type="ns2:ECUserIdType">
						<xs:annotation>
							<xs:documentation>EACS ID of the user who generated this request in the back office.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PoolContextType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string" minOccurs="1"/>
			<xs:element name="ProcessType" type="ns1:ProcessTypeType" minOccurs="1" />
			<xs:element name="Owner" type="xs:string" minOccurs="1"/>
			<xs:element name="FunctionalMailbox" type="xs:string" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ProcessTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EE"/>
			<xs:enumeration value="RE"/>
			<xs:enumeration value="ME"/>
			<xs:enumeration value="CE"/>
			<xs:enumeration value="EG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:annotation>
		<xs:documentation>v 1.0.0: Creation </xs:documentation>
		<xs:documentation>v 1.2.0: For the expert IDs a list is used now instead of a single value </xs:documentation>
		<xs:documentation>v 1.3.0: Migrated dependency on CDM from CDM 3.0.0 to CDM 3.2.0 </xs:documentation>
		<xs:documentation>v 1.4.0: Migrated dependency on CDM from CDM 3.0.0 to CDM 3.2.0 </xs:documentation>
	</xs:annotation>
</xs:schema>
