wifi4eu-jagate/src/main/resources/jagate/cdm/model/project-mariecurie/V5/ProjectMarieCurie.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by European Commission (European Commission) -->
<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by European Commission DG CONNECT R3 (European Commission DG CONNECT R3) -->
<xs:schema xmlns:workpackage="http://ec.europa.eu/research/fp/model/project-workpackage/V3" xmlns:representative="http://ec.europa.eu/research/fp/model/project-representative/V4" xmlns:reportingperiod="http://ec.europa.eu/research/fp/model/project-reportingperiod/V4" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:partner="http://ec.europa.eu/research/fp/model/project-partner/V4" xmlns:legalentityref="http://ec.europa.eu/research/fp/model/legalentity-ref/V3" xmlns:legalentity="http://ec.europa.eu/research/fp/model/legalentity/V8" xmlns:person="http://ec.europa.eu/research/fp/model/person/V4" xmlns:coderef="http://ec.europa.eu/research/fp/model/code-ref/V3" xmlns:base="http://ec.europa.eu/research/fp/model/base/V1" xmlns="http://ec.europa.eu/research/fp/model/project-mariecurie/V5" targetNamespace="http://ec.europa.eu/research/fp/model/project-mariecurie/V5" elementFormDefault="qualified" version="5.8.6">
	<xs:annotation>
		<xs:documentation>
			This schema intends to capture all funding scheme specific project data; in this case for projects complying to Marie Curie funding schemes
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/base/V1" schemaLocation="../../base/V1/Base.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/code-ref/V3" schemaLocation="../../code-ref/V3/CodeRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/person/V4" schemaLocation="../../person/V4/Person.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-partner/V4" schemaLocation="../../project-partner/V4/ProjectPartner.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-reportingperiod/V4" schemaLocation="../../project-reportingperiod/V4/ProjectReportingPeriod.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity-ref/V3" schemaLocation="../../legalentity-ref/V3/LegalEntityRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity/V8" schemaLocation="../../legalentity/V8/LegalEntity.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-representative/V4" schemaLocation="../../project-representative/V4/ProjectRepresentative.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-workpackage/V3" schemaLocation="../../project-workpackage/V3/ProjectWorkPackage.xsd"/>
	<xs:element name="MarieCurieProjectInfo" type="MarieCurieProjectInfoType"/>
	<xs:complexType name="MarieCurieProjectInfoType">
		<xs:annotation>
			<xs:documentation>Project level data elements specific to MarieCurie projects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResearchClassifiedAsLaboratoryBased" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FP7</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScientificPanelCode" type="coderef:CodeRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>code of type "ScientificArea"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialContributionPerYear" type="MarieCurieFinancialContributionPerYearType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>FP7</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialContribution" type="MarieCurieFinancialContributionType"/>
			<xs:element name="ActionCode" type="coderef:CodeRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FP7: code of type "MCActionCode"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>FP7: CoFundFellowship if SubFundingScheme is COFUND</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="Fellowship" type="MarieCurieFellowshipType"/>
					<xs:element name="CoFundFellowship" type="MarieCurieCoFundFellowshipType"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="IndividualResearcher" type="ResearcherType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>for Individual Fellowships</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearcherOverview" type="MarieCurieResearcherOverviewType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FP7: This is used in SubFundingSchemes IAPP and ITN to have an overview of all researchers in the project.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AverageTravelAllowance" type="base:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FP7: This is used in SubFundingScheme IAPP in case the travel distance is unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Recruitment" type="RecruitmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Secondment" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieProjectInfoH2020Type">
		<xs:annotation>
			<xs:documentation>Project level data elements specific to MarieCurie projects - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ScientificPanelCode" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>code of type "ScientificArea"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualResearcher" type="IndividualResearcherType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>for Individual Fellowships</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Recruitment" type="RecruitmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Secondment" type="SecondmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PartnerOrganisation" type="partner:PartnerOrganisationType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ProjectResearchersOverview" type="ProjectResearchersOverviewType" minOccurs="0"/>
			<xs:element name="ProjectResearchersOverviewPerGroup" type="ProjectResearchersOverviewPerGroupType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PartTimeSuspensions" type="PartTimeSuspensionsType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Part-time suspensions of MSCA-IF ToAs</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjectResearchersOverviewType">
		<xs:complexContent>
			<xs:extension base="ResearchersOverviewType">
				<xs:sequence>
					<xs:element name="ResearchersOverviewPerPeriod" type="ResearchersOverviewPerPeriodType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProjectResearchersOverviewPerGroupType">
		<xs:complexContent>
			<xs:extension base="ResearchersOverviewType">
				<xs:sequence>
					<xs:element name="ResearchersOverviewPerPeriod" type="ResearchersOverviewPerPeriodType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Group" type="coderef:CodeRefType">
						<xs:annotation>
							<xs:documentation>use of CCM Class Id: MCResearchersOverviewGroup</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarieCurieResearcherOverviewType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TotalMonths" type="base:CountType"/>
			<xs:element name="TotalEventDays" type="base:CountType"/>
			<xs:element name="TotalNumberOfEvents" type="base:CountType"/>
			<xs:element name="CategoryDetails" type="ITNIAPPResearchersInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Improve naming? -->
	<xs:complexType name="ITNIAPPResearchersInfo">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResearcherCategory" type="MarieCurieCategoryType">
				<xs:annotation>
					<xs:documentation>The possible values of this field are enumerated in CCM2 classid MCResearcherCategory, please use the desired abbreviation returned by CCM2. THIS FIELD SHOULD BECOME A CODEREFTYPE IN THE NEXT MAJOR VERSION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Months" type="base:CountType"/>
			<xs:element name="Researchers" type="base:CountType"/>
			<xs:element name="FixedAmountContract" type="base:AmountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieFellowshipType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResearcherCategory" type="MarieCurieFellowshipCategoryType">
				<xs:annotation>
					<xs:documentation>This is the Researcher Category such as ESR: Early Stage Researcher, ER04: Experienced Researcher (4-10 years), ER10: Experienced Researcher (>10 years),  VS04: Visiting Scientist (4-10 years), VS10: Visiting Scientist (>10 years). ATTENTION: 20150609 : THIS ELEMENT TYPE DOES NOT ENUMERATE THE VALUES SHOWN IN THIS COMMENT. THIS SHOULD BE CHECKED!!!!!</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="base:CountType"/>
			<xs:element name="Financial" type="MarieCurieFinancialContributionType"/>
			<xs:element name="PercFellowshipMonths" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This is used (at least) in SubFundingScheme IAPP. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieCoFundFellowshipType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FellowshipCategory" type="MarieCurieCoFundFellowshipCategoryType">
				<xs:annotation>
					<xs:documentation>FellowshipCategory such as INCOMING, OUTGOING, RE-INTEGRATION. It is the type of mobility</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="base:CountType"/>
			<xs:element name="Financial" type="MarieCurieFinancialContributionType"/>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Fellowship referenced name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumberOfFellows" type="base:CountType" minOccurs="0"/>
			<xs:element name="EligibleFellowsPerYear" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of eligible fellows / year</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCost" type="base:AmountType" minOccurs="0"/>
			<xs:element name="RequestedECcontribution" type="base:AmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MarieCurieFellowshipCategoryType">
		<xs:annotation>
			<xs:documentation>the phase of fellowship/recruitment. H2020: OUTGOING, RE-INTEGRATION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="INCOMING"/>
			<xs:enumeration value="OUTGOING"/>
			<xs:enumeration value="RETURNPHASE"/>
			<xs:enumeration value="RE-INTEGRATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MarieCurieCoFundFellowshipCategoryType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="INCOMING"/>
			<xs:enumeration value="OUTGOING"/>
			<xs:enumeration value="RE-INTEGRATION"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MarieCuriePartnerInfoType">
		<xs:annotation>
			<xs:documentation>Partner level data elements specific to MarieCurie projects.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinancialContributionPerYear" type="MarieCurieFinancialContributionPerYearType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FinancialContribution" type="MarieCurieFinancialContributionType" minOccurs="0"/>
			<xs:element name="FellowOverview" type="MarieCurieFellowOverviewType" minOccurs="0"/>
			<xs:element name="ResearcherOverview" type="MarieCurieResearcherOverviewType" minOccurs="0"/>
			<xs:element name="Event" type="MarieCurieEventType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ExchangedStaff" type="MarieCurieExchangeStaffType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>If SubFundingScheme is IRSES-IOF</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCuriePartnerInfoH2020Type">
		<xs:annotation>
			<xs:documentation>Partner level data elements specific to MarieCurie projects - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartnerSummaryResearchersOverview" type="PartnerSummaryResearchersOverviewType" minOccurs="0"/>
			<xs:element name="PartnerResearchersOverview" type="PartnerResearchersOverviewType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartnerSummaryResearchersOverviewType">
		<xs:complexContent>
			<xs:extension base="ResearchersOverviewType">
				<xs:sequence>
					<xs:element name="PartnerSummaryResearchersOverviewPerPeriod" type="ResearchersOverviewPerPeriodType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PartnerResearchersOverviewType">
		<xs:complexContent>
			<xs:extension base="ResearchersOverviewType">
				<xs:sequence>
					<xs:element name="PartnerResearchersOverviewPerPeriod" type="ResearchersOverviewPerPeriodType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarieCuriePartnerOrgInfoH2020Type">
		<xs:annotation>
			<xs:documentation>Partner organisation level data elements specific to MarieCurie projects - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartnerResearchersOverview" type="PartnerResearchersOverviewType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieFellowOverviewType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fellow" type="MarieCurieFellowType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieFellowType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FellowshipNumber" type="base:CountType" minOccurs="0"/>
			<xs:element name="FellowshipCategory" type="MarieCurieFellowshipCategoryType" minOccurs="0"/>
			<xs:element name="RecrSecPartNumber" type="base:CountType" minOccurs="0"/>
			<xs:element name="ContractType" type="MarieCurieContractType" minOccurs="0"/>
			<xs:element name="ResearcherCategory" type="MarieCurieCategoryType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The possible values of this field are enumerated in CCM2 classid MCResearcherCategory, please use the desired abbreviation returned by CCM2. THIS FIELD SHOULD BECOME A CODEREFTYPE IN THE NEXT MAJOR VERSION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MobilityAllowance" type="base:AmountType" minOccurs="0"/>
			<xs:element name="TravelAllowance" type="base:AmountType" minOccurs="0"/>
			<xs:element name="StartDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Duration" type="base:CountType" minOccurs="0"/>
			<xs:element name="Financial" type="MarieCurieFinancialContributionType" minOccurs="0"/>
			<xs:element name="HostCountryCode" type="coderef:CodeRefType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieExchangeStaffType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HostingEntityRef" type="legalentityref:LegalEntityIdType">
				<xs:annotation>
					<xs:documentation>A PIC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Direction" type="MarieCurieExchangeStaffDirectionType"/>
			<xs:element name="SecondedStaff" type="MarieCurieSecondedStaffType"/>
			<xs:element name="FellowshipMonths" type="base:CountType"/>
			<xs:element name="ECContributionPerFellowMonth" type="base:AmountType"/>
			<xs:element name="PartnerContributionPerFellowMonth" type="base:AmountType"/>
			<xs:element name="TotalECContribution" type="base:AmountType"/>
			<xs:element name="TotalPartnerContribution" type="base:AmountType"/>
			<xs:element name="Total" type="base:AmountType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MarieCurieSecondedStaffType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="ESR"/>
			<xs:enumeration value="EXR"/>
			<xs:enumeration value="MS"/>
			<xs:enumeration value="TS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MarieCurieFinancialContributionType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LivingAllowance" type="base:AmountType" minOccurs="0"/>
			<xs:element name="TravelAllowance" type="base:AmountType" minOccurs="0"/>
			<xs:element name="MobilityAllowance" type="base:AmountType" minOccurs="0"/>
			<xs:element name="CareerExploratoryAllowance" type="base:AmountType" minOccurs="0"/>
			<xs:element name="ParticipationFees" type="base:AmountType" minOccurs="0"/>
			<xs:element name="Training" type="base:AmountType" minOccurs="0"/>
			<xs:element name="ManagementAndAuditCertification" type="base:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TODO: The name of this should be checked</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Overhead" type="base:AmountType" minOccurs="0"/>
			<xs:element name="TransferOfKnowledge" type="base:AmountType" minOccurs="0"/>
			<xs:element name="OtherExpenses" type="base:AmountType" minOccurs="0"/>
			<xs:element name="Conferences" type="base:AmountType" minOccurs="0"/>
			<xs:element name="MaximumECContribution" type="base:AmountType" minOccurs="0"/>
			<xs:element name="ResearchCost" type="base:AmountType" minOccurs="0"/>
			<xs:element name="Total" type="base:AmountType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieFinancialContributionPerYearType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Year" type="base:YearType"/>
			<xs:element name="FinancialContribution" type="MarieCurieFinancialContributionType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="MarieCurieContractType">
		<xs:restriction base="xs:token">
			<xs:enumeration value="A"/>
			<xs:enumeration value="B"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MarieCurieCategoryType">
		<xs:annotation>
			<xs:documentation>the category of the reseacher. H2020: ESR, ER, ERlt10, ERmt10, Technical_staff, Managerial_staff, ADM (for Administrator). The possible values of this field are enumerated in CCM2 classid MCResearcherCategory, please use the desired abbreviation returned by CCM2. THIS FIELD SHOULD BECOME A CODEREFTYPE IN THE NEXT MAJOR VERSION</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="MarieCurieExchangeStaffDirectionType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="INCOMING"/>
			<xs:enumeration value="OUTGOING"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MarieCurieEventType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EventNumber" type="base:CountType"/>
			<xs:element name="Type" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of event.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Month" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Project month number when the event will take place.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResDays" type="base:CountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Number of researcher days for researchers out of the network.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contribution" type="base:AmountType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contribution to the organization of event.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearcherType">
		<xs:annotation>
			<xs:documentation>used in Marie Curie projects</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="person:PersonType">
				<xs:sequence>
					<xs:element name="LessFavouredRegionResidenceCode" type="coderef:CodeRefType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TODO: is it used?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DurationOfTheFellowship" type="base:CountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TODO: keep it here?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FamilyAllowance" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TODO: keep it here?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="UniversityDegree" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>date when university degree awarded</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Doctorate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date when doctorate awarded</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DoctorateExpectedDate" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>date when doctorate award is expected</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FullTimePostgraduateResearchExperience" type="base:CountType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Full Time Postgrad Research Experience in months</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OtherAcademicQualifications" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Date when other academic qualifications awarded</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MarieCurieActionContractNumber" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TODO: what is it?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="WorkingPeriod" type="ResearcherWorkingPeriod" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>place of activity/place of residence - activities in the previous 5 years</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EligibleContract" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to a Marie Curie contract/project number in previous employment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EligibleCallId" type="coderef:CodeRefType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>Reference to a Marie Curie call in previous employment</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EmploymentStart" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>date when previous employment started</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="EmploymentEnd" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>date when previous employment ended</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="HasSubmittedOtherProposals" type="xs:boolean" minOccurs="0">
						<xs:annotation>
							<xs:documentation>TODO: is it used?</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SubmittedProposal" type="ResearcherSubmittedProposalType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>TODO: is it used?</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IndividualResearcherType">
		<xs:annotation>
			<xs:documentation>used in Marie Curie projects - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="person:PersonType">
				<xs:sequence>
					<xs:element name="ResearcherID" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>this is a researcher ID for a central researcher database</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userID" type="base:ECUserIdType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>an ecas user id</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PostResearchExperience" type="xs:int" minOccurs="0"/>
					<xs:element name="WorkingPeriod" type="ResearcherWorkingPeriod" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>place of activity/place of residence - activities in the previous 5 years</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ResearcherQualification" type="ResearcherQualificationType" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="PreviousProposal" type="ResearcherPreviousProposalType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResearcherSupervisorType">
		<xs:annotation>
			<xs:documentation>Supervisor for the Researcher</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="person:PersonType">
				<xs:sequence>
					<xs:element name="ValidFrom" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>activity from this date</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidTo" type="xs:date" minOccurs="0">
						<xs:annotation>
							<xs:documentation>activity until this date</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ResearcherSubmittedProposalType">
		<xs:annotation>
			<xs:documentation>FP7 only</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Action" type="xs:string" minOccurs="0"/>
			<xs:element name="ContractNumber" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearcherPreviousProposalType">
		<xs:annotation>
			<xs:documentation>previously submitted proposals of researcher - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CallIdentifier" type="coderef:CodeRefType"/>
			<xs:element name="ContractNumber" type="xs:string"/>
			<xs:element name="FromDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ToDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearcherWorkingPeriod">
		<xs:sequence>
			<xs:element name="From" type="xs:date">
				<xs:annotation>
					<xs:documentation>activity from this date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="xs:date">
				<xs:annotation>
					<xs:documentation>activity until this date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>country where activity took place</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MarieCurieHostingEntityType">
		<xs:annotation>
			<xs:documentation>LegalEntity are missing. These information are used to store the contact persons responsible of "hosting entities"</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PIC" type="legalentityref:LegalEntityIdType"/>
			<xs:element name="Shortname" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Short name for partner - unique in project</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>partner LE PICs should be unique per project</xs:documentation>
					<xs:documentation>partner LE data can be transfered either by value or by reference</xs:documentation>
				</xs:annotation>
				<xs:element name="LegalEntityRef" type="legalentityref:LegalEntityIdType" minOccurs="0"/>
				<xs:element name="LegalEntity" type="legalentity:LegalEntityType" minOccurs="0"/>
			</xs:choice>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>TODO: CHECK IF WE NEED THIS!!!! Each partner designates one or more individuals that have particular defined roles within the consortium. The basic default role is the "Participant representative", i.e. the person of contact for that particular participant in this particular project. (Reason for the choice: We have the choice of carrying the whole Representative information or the minimum information currently needed by the portal).</xs:documentation>
				</xs:annotation>
				<xs:element name="ProjectRepresentativeRefs" type="representative:ProjectRepresentativeCoreInfoType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="ProjectRepresentatives" type="representative:ProjectRepresentativeType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:element name="ProjectEnterDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date on which partner enters the project</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectExitDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date on which partner exits the project</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderNumber" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>Partner number in project, eg. 1, 2, etc</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecruitmentType">
		<xs:annotation>
			<xs:documentation>recruitment data - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RecruitmentNumber" type="xs:int"/>
			<xs:element name="ContractType" type="MarieCurieContractType"/>
			<xs:element name="ResearcherCategory" type="MarieCurieCategoryType">
				<xs:annotation>
					<xs:documentation>The possible values of this field are enumerated in CCM2 classid MCResearcherCategory, please use the desired abbreviation returned by CCM2. THIS FIELD SHOULD BECOME A CODEREFTYPE IN THE NEXT MAJOR VERSION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecruitPhase" type="MarieCurieFellowshipCategoryType" minOccurs="0"/>
			<xs:element name="Duration" type="xs:decimal" minOccurs="0"/>
			<xs:element name="StartingMonth" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>starting month in project for the recruitment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Family" type="FamilyType"/>
			<xs:element name="HostedBy" type="legalentityref:LegalEntityIdType"/>
			<xs:element name="HostCountry" type="coderef:CodeRefType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SecondmentType">
		<xs:annotation>
			<xs:documentation>secondment data - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SecondmentNumber" type="xs:int"/>
			<xs:element name="StaffMemberID" type="xs:int">
				<xs:annotation>
					<xs:documentation>an identification of a staff member/researcher</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResearcherCategory" type="MarieCurieCategoryType">
				<xs:annotation>
					<xs:documentation>staff member profile. The possible values of this field are enumerated in CCM2 classid MCResearcherCategory, please use the desired abbreviation returned by CCM2. THIS FIELD SHOULD BECOME A CODEREFTYPE IN THE NEXT MAJOR VERSION</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondedFrom" type="legalentityref:LegalEntityIdType"/>
			<xs:element name="SecondedFromCountry" type="coderef:CodeRefType"/>
			<xs:element name="Duration" type="xs:decimal" minOccurs="0"/>
			<xs:element name="StartingMonth" type="xs:int" minOccurs="0">
				<xs:annotation>
					<xs:documentation>starting month in project for the recruitment</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondedTo" type="legalentityref:LegalEntityIdType"/>
			<xs:element name="SecondedToCountry" type="coderef:CodeRefType"/>
			<xs:element name="WPIRef" type="workpackage:WPIRefType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>reference to the work plan item</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearcherQualificationType">
		<xs:annotation>
			<xs:documentation>qualifications of individual researcher - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AwardType" type="xs:string"/>
			<xs:element name="AwardDate" type="xs:date" minOccurs="0"/>
			<xs:element name="ExpectedAwardDate" type="xs:date" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchersOverviewPerPeriodType">
		<xs:annotation>
			<xs:documentation>Overview of recruitments/secondments data - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ResearchersOverviewPerPeriod" type="ResearchersOverviewType"/>
			<xs:element name="ReportingPeriod" type="reportingperiod:ReportingPeriodNumberType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResearchersOverviewType">
		<xs:annotation>
			<xs:documentation>Overview of recruitments/secondments data - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NrOfResearchersMonths" type="xs:decimal"/>
			<xs:element name="NrOfRecruitments" type="xs:int" minOccurs="0"/>
			<xs:element name="NrOfSecondments" type="xs:int" minOccurs="0"/>
			<xs:element name="ResearcherMonthsShare" type="base:PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>it is the share percentage calculated as
the total NrOfResearchersMonths of a partner or partner organisation or a group / ProjectResearchersOverview.NrOfResearchersMonths	</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartTimeSuspensionsType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TotalSuspensionDays" type="xs:int"/>
			<xs:element name="PartTimeSuspensionList" type="PartTimeSuspensionListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartTimeSuspensionListType">
		<xs:sequence>
			<xs:element name="PartTimeSuspensionType" type="PartTimeSuspensionType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartTimeSuspensionType">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartTimeId" type="xs:string"/>
			<xs:element name="StartDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date"/>
			<xs:element name="WorkedPercentage" type="base:PercentageType"/>
			<xs:element name="ExtensionDays" type="xs:double"/>
			<xs:element name="isRemoved" type="xs:boolean"/>
			<xs:element name="Reason" type="coderef:CodeRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>code of type "PartTimeSuspensionReason"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FamilyType">
		<xs:annotation>
			<xs:documentation>whether researcher has family or not or it is unknown - added to support H2020</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:enumeration value="Yes"/>
			<xs:enumeration value="No"/>
			<xs:enumeration value="Unknown"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MarieCurieWorkingPeriodDurationType">
		<xs:annotation>
			<xs:documentation>Duration of a recruitment/secondment period for Marie Curie projects. Person/months expressed with 7 decimals.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="7"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReportingRecruitmentType">
		<xs:annotation>
			<xs:documentation>Description of the Recruitment for H2020</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Number" type="xs:int" minOccurs="0"/>
			<xs:element name="Researcher" type="IndividualResearcherType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Researcher linked to the recruitment (implicit for IF)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecruitmentPhase" type="coderef:CodeRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>INCOMING or OUTGOING; CCM Code of type MCRecruitmentPhase</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HostingOrganisation" type="legalentityref:LegalEntityIdType"/>
			<xs:element name="HostingCountry" type="coderef:CodeRefType"/>
			<xs:element name="StartDate" type="xs:date"/>
			<xs:element name="EndDate" type="xs:date"/>
			<xs:element name="WorkingTimeCommitment" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>code of type 'MCResearcherWorkingTimeCommitment'; part time, full time, suspension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkedPercentage" type="base:PercentageType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Working time percentage</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartTimeReason" type="coderef:CodeRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>code of type "PartTimeSuspensionReason"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationPM" type="MarieCurieWorkingPeriodDurationType">
				<xs:annotation>
					<xs:documentation>Duration of the recruitment (Person-Months with 7 decimals)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportingRecruitmentSetType">
		<xs:sequence>
			<xs:element name="Recruitments" type="ReportingRecruitmentListType"/>
			<xs:element name="TotalDuration" type="MarieCurieWorkingPeriodDurationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportingRecruitmentListType">
		<xs:sequence>
			<xs:element name="Recruitment" type="ReportingRecruitmentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportingRecruitmentSetListType">
		<xs:sequence>
			<xs:element name="RecruitmentSet" type="ReportingRecruitmentSetType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>20160810 - v5.8.6 - SyGMa - new types added to be used for the Use of Resources of Marie Curie projects: MarieCurieWorkingPeriodDurationType, ReportingRecruitmentType, ReportingRecruitmentSetType, ReportingRecruitmentListType, ReportingRecruitmentSetListType
		</xs:documentation>
		<xs:documentation>20160722 - v5.8.5 - SyGMa - new complex type "ResearcherSupervisorType"; this will be used in the Periodic Report
		</xs:documentation>
		<xs:documentation>20151029 - v5.8.4 - SyGMA - new optional element(Reason) in PartTimeSuspensionType 
		</xs:documentation>
		<xs:documentation>20150929 - v5.8.3 - SyGMA - new optional element(PartTimeSuspensions) in MarieCurieProjectInfoH2020Type, added complex type PartTimeSuspensionsType 
		</xs:documentation>
		<xs:documentation>20150812 - v5.8.2 - SyGMA - Removed inline overviews and created dedicated types, ProjectResearchersOverviewType, ProjectResearchersOverviewPerGroupType, PartnerSummaryResearchersOverviewType, PartnerResearchersOverviewType 
		</xs:documentation>
		<xs:documentation>20150621 - v5.8.1 - SyGMA - Created a new complex type "ResearchersOverviewPerPeriodType" reusing the ResearchersOverviewType and adding the ReportingPeriod. This will be used within MarieCuriePartnerInfoH2020Type, MarieCurieProjectInfoH2020Type, MarieCuriePartnerOrgInfoH2020Type to support generation of the new annex for MSC RISE grants. Also added the ResearcherMonthsShare in the ResearchersOverviewType. Added an element ProjectResearchersOverviewPerGroup to hold project researchers overview data per group, ie. EU/AC partners, TC partners, Academic, Non-academic
		</xs:documentation>
		<xs:documentation>20150609 - v5.8.0 - SyGMA - Changed duration in RecruitmentType, SecondmentType from INT to DECIMAL</xs:documentation>
		<xs:documentation>20150609 - v5.7.0 - SyGMA - Removed the MarieCurieCategoryType enumeration. Now, this enumeration is in CCM2 under the ClassID MCResearcherCategory Document all instances that the desired abbreviation returned by CCM2 should be used instead</xs:documentation>
		<xs:documentation>20150508 - v5.6.0 - SyGMA - Added ADM to MarieCurieCategoryType enum</xs:documentation>
		<xs:documentation>20140611 - v5.5.0 - SYGMA
		Added MarieCuriePartnerOrgInfoH2020Type
		</xs:documentation>
		<xs:documentation>20140605 - v5.4.1 - SYGMA
		Split one field into 2: NrOfRecruitments and NrOfSecondments in the ResearchersOverviewType
		</xs:documentation>
		<xs:documentation>20140403 - v5.4.0 - SYGMA
		Added MarieCuriePartnerInfoH2020Type, ResearchersOverviewType, Updated MarieCurieProjectInfoH2020Type
		</xs:documentation>
		<xs:documentation>20131121 - v5.3.0 - Add SecondedFromCountry,  Add optional WPIRef</xs:documentation>
		<xs:documentation>20131121 - v5.2.0 - CDMWG - Remove the extension of FundingSchemeSpecificProjectInfoType. Now specific info will be an optional element in the project itself </xs:documentation>
		<xs:documentation>20131029 - v5.1.0 - SYGMA totally revised - New MarieCurieProjectInfoH2020Type: to be checked later if with the new model we can support FP7  as well...</xs:documentation>
		<xs:documentation>20131010 - v5.0.0 - SYGMA CodeRef v3, Person v4, Project v4, ProjectPartner v4, ProjectReportingPeriod v3, LegalEntityRef v3, ProjectRepresentative v3, LegalEntity v8, corrected path to schema</xs:documentation>
		<xs:documentation>20120830 - v4.0.0 - Remove EthicalIssues because it is moved at the project core level</xs:documentation>
		<xs:documentation>20100128 - v3.0.0 - Use legalentity and person v2 and all project v3 files</xs:documentation>
		<xs:documentation>20100603 - v2.0.1 - Add the MarieCurieHostingEntityType and related stuff</xs:documentation>
	</xs:annotation>
</xs:schema>