wifi4eu-jagate/src/main/resources/jagate/cdm/model/project/V3/Project.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Christian Huwaert (European Commission - DIGIT) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Meropi Traianidou (European Commission) -->
<xs:schema xmlns:projectref="http://ec.europa.eu/research/fp/model/project-ref/V2" xmlns:officerref="http://ec.europa.eu/research/fp/model/officer-ref/V1" xmlns:legalentityref="http://ec.europa.eu/research/fp/model/legalentity-ref/V1" xmlns:coderef="http://ec.europa.eu/research/fp/model/code-ref/V2" xmlns:reportingperiod="http://ec.europa.eu/research/fp/model/project-reportingperiod/V3" xmlns:milestone="http://ec.europa.eu/research/fp/model/project-milestone/V3" xmlns:deliverable="http://ec.europa.eu/research/fp/model/project-deliverable/V1" xmlns:workpackage="http://ec.europa.eu/research/fp/model/project-workpackage/V2" xmlns:specialclause="http://ec.europa.eu/research/fp/model/project-specialclause/V2" xmlns:costbreakdown="http://ec.europa.eu/research/fp/model/project-costbreakdown/V2" xmlns:partner="http://ec.europa.eu/research/fp/model/project-partner/V3" xmlns:core="http://ec.europa.eu/research/fp/model/project-core/V3" xmlns:officer="http://ec.europa.eu/research/fp/model/officer/V2" xmlns:call="http://ec.europa.eu/research/fp/model/call/V2" xmlns:report="http://ec.europa.eu/research/fp/model/report/V2" xmlns:document="http://ec.europa.eu/research/fp/model/document/V3" xmlns:base="http://ec.europa.eu/research/fp/model/base/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ec.europa.eu/research/fp/model/project/V3" xmlns:ns1="http://ec.europa.eu/research/fp/model/bankaccount/V2" xmlns:ns2="http://ec.europa.eu/research/fp/model/legalentity/V2" xmlns:ns3="http://ec.europa.eu/research/fp/model/person/V2" xmlns:proposal="http://ec.europa.eu/research/fp/model/project-proposal/V1" targetNamespace="http://ec.europa.eu/research/fp/model/project/V3" elementFormDefault="qualified" version="3.2.0">
	<xs:annotation>
		<xs:documentation>v3.2.0  20130212 DescriptionOfWork -> non mandatory
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>v3.1.0  20110322 Add proposal related data
		 - removed from FinancialGroup all partner related info as they are now moved under ConsortiumGroup</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>v3.0.0 20110218  reworked the reportingGroup and WorkPlanningGroup (deliverables moved under workplanning group, the reportinggroup has all the elements that the project needs to report. + use bankaccount, person, officer and legalentity V2</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>This schema intends to capture 'full' view on all project related data.</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/base/V1" schemaLocation="../../base/V1/Base.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/code-ref/V2" schemaLocation="../../code-ref/V2/CodeRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/report/V2" schemaLocation="../../report/V2/Report.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity/V2" schemaLocation="../../legalentity/V2/LegalEntity.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity-ref/V1" schemaLocation="../../legalentity-ref/V1/LegalEntityRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/officer/V2" schemaLocation="../../officer/V2/Officer.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/officer-ref/V1" schemaLocation="../../officer-ref/V1/OfficerRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/document/V3" schemaLocation="../../document/V3/Document.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-ref/V2" schemaLocation="../../project-ref/V2/ProjectRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-core/V3" schemaLocation="../../project-core/V3/ProjectCore.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-costbreakdown/V2" schemaLocation="../../project-costbreakdown/V2/ProjectCostBreakdown.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-partner/V3" schemaLocation="../../project-partner/V3/ProjectPartner.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-specialclause/V2" schemaLocation="../../project-specialclause/V2/ProjectSpecialClause.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-workpackage/V2" schemaLocation="../../project-workpackage/V2/ProjectWorkPackage.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-milestone/V3" schemaLocation="../../project-milestone/V3/ProjectMilestone.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-deliverable/V1" schemaLocation="../../project-deliverable/V1/ProjectDeliverable.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-proposal/V1" schemaLocation="../../project-proposal/V1/ProjectProposal.xsd"/>
	<xs:element name="Project" type="ProjectType"/>
	<xs:complexType name="ProjectType">
		<xs:sequence>
			<xs:group ref="projectref:ProjectIdGroup"/>
			<xs:group ref="GeneralGroup" minOccurs="0"/>
			<xs:group ref="LifeCycleGroup" minOccurs="0"/>
			<xs:group ref="GrantingResponsibilityGroup" minOccurs="0"/>
			<xs:group ref="ConsortiumGroup" minOccurs="0"/>
			<xs:group ref="SpecialClausesGroup" minOccurs="0"/>
			<xs:group ref="FinancialGroup" minOccurs="0"/>
			<xs:group ref="FundingSchemeGroup" minOccurs="0"/>
			<xs:group ref="WorkPlanningGroup" minOccurs="0"/>
			<xs:group ref="ReportingGroup" minOccurs="0"/>
			<xs:group ref="proposal:ProposalGroup" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:group name="GeneralGroup">
		<xs:sequence>
			<xs:group ref="core:GeneralCoreGroup"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="LifeCycleGroup">
		<xs:sequence>
			<xs:group ref="core:LifeCycleCoreGroup"/>
			<xs:element name="SubmissionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when the project proposal has been submitted</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDateChoice" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Choices for the start date of the project: fixed date, first day of month after signature, effective startDate to be notified by Coordinator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DecisionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>TODO: Date when EC decision is taken to fund the project</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerminationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when project is terminated</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NegotiationCompletionDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when negotiation of the project is completed</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CancellationDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when project is cancelled</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosureDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when project is closed TODO: is it considered closed by all RDG business when the final payment has been done?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date when project ends: derived from Start Date+duration</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="GrantingResponsibilityGroup">
		<xs:sequence>
			<xs:element name="DG" type="base:RDGType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Research Directorate General administrating the project</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponsibleDepartmentCode" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>code of type unit (e.g. TREN/C/02)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Officer" type="ProjectOfficerType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of officers associated to the project, eg. Project Officer, Financial Officer, etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrantingAuthority" type="coderef:CodeRefType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="ConsortiumGroup">
		<xs:sequence>
			<xs:element name="Partner" type="partner:LegalPartnerType" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The Partner data that is expected in the context of a project  related service is the one that is stored inside the project backend, not the one that is stored in the PDM system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="FinancialGroup">
		<xs:sequence>
			<xs:group ref="core:FinancialCoreGroup"/>
			<xs:element name="ProjectCostBreakdown" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ActivityCostBreakdown" type="costbreakdown:ActivityCostBreakDownType" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="FundingSchemeGroup">
		<xs:sequence>
			<xs:group ref="core:FundingSchemeCoreGroup"/>
			<xs:element name="FundingSchemeSpecificInfo" type="FundingSchemeSpecificProjectInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="WorkPlanningGroup">
		<xs:sequence>
			<xs:element name="DescriptionOfWork" type="document:DocumentCoreType" minOccurs="0"/>
			<xs:element name="Deliverable" type="deliverable:DeliverableType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Milestone" type="milestone:MilestoneType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="WorkPackage" type="workpackage:WorkPackageType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="SpecialClausesGroup">
		<xs:sequence>
			<xs:element name="SpecialClause" type="specialclause:SpecialClauseType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of special clauses in project</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="ReportingGroup">
		<xs:sequence>
			<xs:element name="PeriodicReport" type="report:PeriodicReportType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>list of periodic reports, one per reporting period</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalReport" type="report:FinalReportType" minOccurs="0"/>
			<xs:element name="FinalFundingDistributionReport" type="report:FinalDistributionReportType" minOccurs="0"/>
			<xs:element name="Review" type="report:ReviewType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of technical reviews and reports</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ProjectOfficerType">
		<xs:complexContent>
			<xs:extension base="officer:OfficerType">
				<xs:sequence>
					<xs:element name="Role" type="officerref:OfficerRoleType">
						<xs:annotation>
							<xs:documentation>Role of officer in project</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FundingSchemeSpecificProjectInfoType">
		<xs:annotation>
			<xs:documentation>v2.0.2 - removed ReportingPeriod from ReportingGroup since it already exists in ProjectCore, Abstract type to be extended by subtypes capturing info per funding scheme, e.g. MarieCurie, reworked the reportingGroup and WorkPlanningGroup (deliverables moved under workplanning group, the reportinggroup has all the elements that the project needs to report.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
</xs:schema>
