wifi4eu-jagate/src/main/resources/jagate/cdm/model/document/V2/Document.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns="http://ec.europa.eu/research/fp/model/document/V2" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:documentref="http://ec.europa.eu/research/fp/model/document-ref/V2" 
	xmlns:coderef="http://ec.europa.eu/research/fp/model/code-ref/V2" 
	xmlns:projectref="http://ec.europa.eu/research/fp/model/project-ref/V2" 
	xmlns:legalentityref="http://ec.europa.eu/research/fp/model/legalentity-ref/V1" 
	targetNamespace="http://ec.europa.eu/research/fp/model/document/V2" 
	elementFormDefault="qualified" 
	version="2.0.1">
	
	<xs:annotation>
		<xs:documentation>
		This schema intends to capture all document related data.
		TODO: 
		 - verify use of Clasifications (with IAM role based authorization)
		 - how to manage document types and security classifications (codes or hard enums)
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/document-ref/V2" schemaLocation="../../document-ref/V2/DocumentRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/code-ref/V2" schemaLocation="../../code-ref/V2/CodeRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity-ref/V1" schemaLocation="../../legalentity-ref/V1/LegalEntityRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-ref/V2" schemaLocation="../../project-ref/V2/ProjectRef.xsd"/>
	
	<xs:element name="Document" type="DocumentType"/>
	<xs:complexType name="DocumentType">
		<xs:sequence>
			<xs:group ref="documentref:DocumentRefGroup"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Author" type="xs:string" minOccurs="0"/>
			<xs:element name="CreationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="UpdateDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Type" type="DocumentTypeType"/>
			<xs:element name="SecurityClass" type="DocumentSecurityClassType"/>
			<xs:element name="Owner" type="xs:string" minOccurs="0"/>
			<xs:element name="Source" type="xs:string" minOccurs="0"/>
			<xs:element name="SourceReference" type="xs:string" minOccurs="0"/>
			<xs:element name="Attachment" type="DocumentAttachmentType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MetaData" type="DocumentMetaDataType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Classification" type="DocumentClassificationType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DocumentCore" type="DocumentCoreType"/>
	<xs:complexType name="DocumentCoreType">
		<xs:sequence>
			<xs:group ref="documentref:DocumentRefGroup"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="Author" type="xs:string" minOccurs="0"/>
			<xs:element name="CreationDate" type="xs:date" minOccurs="0"/>
			<xs:element name="UpdateDate" type="xs:date" minOccurs="0"/>
			<xs:element name="Type" type="DocumentTypeType"/>
			<xs:element name="SecurityClass" type="DocumentSecurityClassType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DocumentAttachment" type="DocumentAttachmentType"/>
	<xs:complexType name="DocumentAttachmentType">
		<xs:sequence>
			<xs:element name="Id" type="xs:positiveInteger"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="MimeType" type="xs:string" minOccurs="0"/>
			<xs:element name="Content" type="xs:base64Binary" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentTypeType">
		<xs:annotation>
			<xs:documentation>document type; e.g.	NEGOTIATION_TECHNICAL_ANNEX, ORGANIZATION_SUPPORTING_DOCUMENT</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DocumentSecurityClassType">
		<xs:annotation>
			<xs:documentation>document security classification; e.g. Public, EU Classified</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="DocumentMetaData" type="DocumentMetaDataType"/>
	<xs:complexType name="DocumentMetaDataType">
		<xs:sequence>
			<xs:element name="Id" type="xs:int"/>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DocumentClassification" type="DocumentClassificationType"/>
	<xs:complexType name="DocumentClassificationType" abstract="true">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="ProjectClassification" type="ProjectClassificationType"/>
	<xs:complexType name="ProjectClassificationType">
		<xs:complexContent>
			<xs:extension base="DocumentClassificationType">
				<xs:sequence>
					<xs:element name="Project" type="projectref:ProjectIdType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="OrganisationClassification" type="OrganisationClassificationType"/>
	<xs:complexType name="OrganisationClassificationType">
		<xs:complexContent>
			<xs:extension base="DocumentClassificationType">
				<xs:sequence>
					<xs:element name="PIC" type="legalentityref:LegalEntityIdType"/>
					<xs:element name="LocalReference" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AccessibilityClassification" type="AccessibilityClassificationType"/>
	<xs:complexType name="AccessibilityClassificationType">
		<xs:complexContent>
			<xs:extension base="DocumentClassificationType">
				<xs:sequence>
					<xs:element name="Action" type="xs:string"/>
					<xs:element name="Role" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>20100607 - v2.0.1</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>+ Bump ProjectRef, Coderef, LegalEntityRef</xs:documentation>
	</xs:annotation>
</xs:schema>
