wifi4eu-jagate/src/main/resources/jagate/wsdls/pdmbankaccount/v1/PDMBankAccount.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="PDMBankAccountServiceV1"
	xmlns:ba="http://ec.europa.eu/rdg/jagate/ws/pdmbankaccount/interfaces/v1"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/pdmbankaccount/v1"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/pdmbankaccount/v1">

	<!-- Types -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/pdmbankaccount/interfaces/v1" schemaLocation="PDMBankAccount_ITF.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="GetBankAccountByFelIdRequest">
		<wsdl:part element="ba:GetBankAccountByFelIdRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetBankAccountByFelIdResponse">
		<wsdl:part element="ba:GetBankAccountByFelIdResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="GetBankAccountByPicRequest">
		<wsdl:part element="ba:GetBankAccountByPicRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetBankAccountByPicResponse">
		<wsdl:part element="ba:GetBankAccountByPicResponse" name="response" />
	</wsdl:message>

    <wsdl:message name="CheckServiceHealthRequest">
        <wsdl:part element="ba:CheckServiceHealthRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="CheckServiceHealthResponse">
        <wsdl:part element="ba:CheckServiceHealthResponse" name="response"/>
    </wsdl:message>
	<wsdl:message name="BankAccountException">
		<wsdl:part element="ba:BankAccountException" name="exception" />
	</wsdl:message>

	<!-- Port definition -->
	<wsdl:portType name="IPDMBankAccountService">
		<wsdl:documentation>Provides Bank Account related services specific for the PDM team.</wsdl:documentation>
        <wsdl:operation name="GetBankAccountByFelId">
            <wsdl:documentation>Gets the early warning on legal entities.</wsdl:documentation>
            <wsdl:input message="GetBankAccountByFelIdRequest" />
            <wsdl:output message="GetBankAccountByFelIdResponse" />
            <wsdl:fault name="LegalEntityException" message="BankAccountException" />
        </wsdl:operation>
        <wsdl:operation name="GetBankAccountByPic">
            <wsdl:documentation>Gets the early warning on legal entities.</wsdl:documentation>
            <wsdl:input message="GetBankAccountByPicRequest" />
            <wsdl:output message="GetBankAccountByPicResponse" />
            <wsdl:fault name="LegalEntityException" message="BankAccountException" />
        </wsdl:operation>
		<wsdl:operation name="CheckServiceHealth">
			<wsdl:documentation>Diagnostic operation to monitor service health.</wsdl:documentation>
			<wsdl:input message="CheckServiceHealthRequest"/>
			<wsdl:output message="CheckServiceHealthResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="IPDMBankAccountServiceBindingV1" type="IPDMBankAccountService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetBankAccountByFelId">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LegalEntityException">
                <soap:fault name="LegalEntityException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetBankAccountByPic">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="LegalEntityException">
                <soap:fault name="LegalEntityException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CheckServiceHealth">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="PDMBankAccountServiceV1">
		<wsdl:port binding="IPDMBankAccountServiceBindingV1" name="PDMBankAccountServiceBindingV1">
			<soap:address location="http://ec.europa.eu/rdg/jagate/ws/pdmbankaccount/v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>