wifi4eu-jagate/src/main/resources/jagate/wsdls/procurement/v1/Procurement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="ProcurementServiceV1"
	xmlns:pr="http://ec.europa.eu/rdg/jagate/ws/procurement/interfaces/v1"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/procurement/v1"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/procurement/v1">

	<!-- Types -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/procurement/interfaces/v1" schemaLocation="Procurement_ITF.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="CreateProcurementCommitmentRequest">
		<wsdl:part element="pr:CreateProcurementCommitmentRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="CreateProcurementCommitmentResponse">
		<wsdl:part element="pr:CreateProcurementCommitmentResponse" name="response" />
	</wsdl:message>

    <wsdl:message name="CheckServiceHealthRequest">
        <wsdl:part element="pr:CheckServiceHealthRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="CheckServiceHealthResponse">
        <wsdl:part element="pr:CheckServiceHealthResponse" name="response"/>
    </wsdl:message>
	<wsdl:message name="ProcurementException">
		<wsdl:part element="pr:ProcurementException" name="exception" />
	</wsdl:message>

	<!-- Port definition -->
	<wsdl:portType name="IProcurementService">
		<wsdl:documentation>Provides procurement related services.</wsdl:documentation>
        <wsdl:operation name="CreateProcurementCommitment">
            <wsdl:documentation>Creates a procurement.</wsdl:documentation>
            <wsdl:input message="CreateProcurementCommitmentRequest" />
            <wsdl:output message="CreateProcurementCommitmentResponse" />
            <wsdl:fault name="ProcurementException" message="ProcurementException" />
        </wsdl:operation>
		<wsdl:operation name="CheckServiceHealth">
			<wsdl:documentation>Diagnostic operation to monitor service health.</wsdl:documentation>
			<wsdl:input message="CheckServiceHealthRequest"/>
			<wsdl:output message="CheckServiceHealthResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="IProcurementServiceBindingV1" type="IProcurementService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="CreateProcurementCommitment">
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="ProcurementException">
                <soap:fault name="ProcurementException" use="literal" />
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CheckServiceHealth">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="ProcurementServiceV1">
		<wsdl:port binding="IProcurementServiceBindingV1" name="ProcurementServiceBindingV1">
			<soap:address location="http://ec.europa.eu/rdg/jagate/ws/procurement/v1" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>