wifi4eu-jagate/src/main/resources/jagate/cdm/model/project-ref/V2/ProjectRef.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (x64) (http://www.altova.com) by C.Huwaert (European Commission DIGIT) -->
<xs:schema xmlns="http://ec.europa.eu/research/fp/model/project-ref/V2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://ec.europa.eu/research/fp/model/base/V1" xmlns:coderef="http://ec.europa.eu/research/fp/model/code-ref/V2" targetNamespace="http://ec.europa.eu/research/fp/model/project-ref/V2" elementFormDefault="qualified" version="2.0.3">
	<xs:import namespace="http://ec.europa.eu/research/fp/model/base/V1" schemaLocation="../../base/V1/Base.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/code-ref/V2" schemaLocation="../../code-ref/V2/CodeRef.xsd"/>
	<xs:simpleType name="ProjectNumberType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ProjectId" type="ProjectIdType"/>
	<xs:complexType name="ProjectIdType">
		<xs:annotation>
			<xs:documentation>Contains project key identifier data elements </xs:documentation>
		</xs:annotation>
		<xs:group ref="ProjectIdGroup"/>
	</xs:complexType>
	<xs:group name="ProjectIdGroup">
		<xs:sequence>
			<xs:element name="Program" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>ClassID FPDivision. Note that this ClassID spawns over multiple Domains. They can all be retrieved via the GMSFrameworkProgrammes taxonomy.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Number" type="ProjectNumberType">
				<xs:annotation>
					<xs:documentation>Project number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:element name="ProjectRef" type="ProjectRefType"/>
	<xs:complexType name="ProjectRefType">
		<xs:annotation>
			<xs:documentation>Contains project key id + responsible DG (for routing purpose)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:group ref="ProjectIdGroup"/>
			<xs:element name="DG" type="base:RDGType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In order to allow routing to DG systems the usage of this field is strongly recommended.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProposalIDListType">
		<xs:sequence>
			<xs:element name="ProposalID" type="ProjectIdType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProjectRefListType">
		<xs:sequence>
			<xs:element name="ResearchProjectRef" type="ProjectRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>v2.0.3 - 20120908 - Added ProjectRefListType</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>v2.0.2 - 20120314 - Added ProposalIDListType</xs:documentation>
	</xs:annotation>
</xs:schema>
