wifi4eu-jagate/src/main/resources/jagate/domain/bankaccount/v3/BankAccount.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:jagate="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2"
	xmlns:cdm="http://ec.europa.eu/research/fp/model/bankaccount/V2" 
	xmlns:jagref="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/domain/bankaccount/v3" 
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/domain/bankaccount/v3"
	elementFormDefault="qualified">

	<!-- Importing referenced schema -->
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" schemaLocation="../../base/v2/JAgateBase.xsd" />
	<xs:import namespace="http://ec.europa.eu/research/fp/model/bankaccount/V2" schemaLocation="../../../cdm/model/bankaccount/V2/BankAccount.xsd" />
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1" schemaLocation="../../reference/v1/ReferenceData.xsd" />
	
	<xs:complexType name="JagateBankAccountType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="bankAccountNumber" type="jagate:NonEmptyString"/>
				<xs:element name="iban" type="jagate:NonEmptyString"/>	
			</xs:choice>
			<xs:element name="legalEntityId" type="jagate:NonEmptyString"/>
			
			<xs:element name="bankName" type="jagate:NonEmptyString"/>
			<xs:element name="currency" type="xs:string" minOccurs="0"/>
			<xs:element name="confidential" type="xs:boolean"/>
			<xs:element name="remarks" type="xs:string" minOccurs="0"/>
			<xs:element name="bankAddress" type="JagateBankAccountAddressType"/>
			<xs:element name="bankAccountHolder" type="JagateBankAccountHolderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JagateBankAccountAddressType">
		<xs:sequence>
			<xs:element name="street" type="jagate:NonEmptyString"/>
			<xs:element name="poBox" type="xs:string" minOccurs="0" />
			<xs:element name="postalCode" type="xs:string" minOccurs="0" />			
			<xs:element name="city" type="jagate:NonEmptyString" />
			<xs:element name="country" type="jagate:CountryCodeType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JagateBankAccountHolderType">
		<xs:sequence>
			<xs:element name="name" type="jagate:NonEmptyString"/>
			<xs:element name="languageCode" type="jagate:LanguageCodeType" minOccurs="0"/>
			<xs:element name="title" type="xs:string" minOccurs="0"/>	
			<xs:element name="address" type="JagateBankAccountHolderAddressType"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="JagateBankAccountHolderAddressType">
		<xs:sequence>
			<xs:element name="street" type="jagate:NonEmptyString"/>
			<xs:element name="poBox" type="xs:string" minOccurs="0" />
			<xs:element name="postalCode" type="xs:string" minOccurs="0" />			
			<xs:element name="city" type="jagate:NonEmptyString" />
			<xs:element name="region" type="xs:string" minOccurs="0" />
			<xs:element name="country" type="jagate:CountryCodeType" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BankAccountHolderType">
		<xs:complexContent>
			<xs:extension base="cdm:BankAccountType">
				<xs:sequence>
					<xs:element name="BankAccountStatus" type="jagref:EObjectStatusType" minOccurs="0"/>
					<xs:element name="LocObjForeignId" type="xs:string" minOccurs="0"/>
					<xs:element name="ConfidentialFlag" type="xs:boolean" minOccurs="0"/>
					<xs:element name="LegalEntityLink" type="BankAccountLegalEntityLink" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BankAccountLegalEntityLink">
		<xs:sequence>
			<xs:element name="LegalEntityId" type="xs:string"/>
			<xs:element name="LegalEntityLinkStatus" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
