wifi4eu-jagate/src/main/resources/jagate/wsdls/legalcommitmentqueries/v1/LegalCommitmentQueries.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tf="http://ec.europa.eu/rdg/jagate/ws/legalcommitmentqueries/v1/interfaces/"
        name="LegalCommitmentQueriesServiceV1"
        xmlns="http://ec.europa.eu/rdg/jagate/ws/legalcommitmentqueries/v1"
        targetNamespace="http://ec.europa.eu/rdg/jagate/ws/legalcommitmentqueries/v1">

    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/legalcommitmentqueries/v1/interfaces/" schemaLocation="LegalCommitmentQueries_ITF.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="GetTrustFundsRequest">
        <wsdl:part element="tf:GetTrustFundsRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="GetTrustFundsResponse">
        <wsdl:part element="tf:GetTrustFundsResponse" name="request"/>
    </wsdl:message>
    <wsdl:message name="LegalCommitmentQueryException">
        <wsdl:part element="tf:LegalCommitmentQueryException" name="request"/>
    </wsdl:message>
    <wsdl:message name="CheckServiceHealthRequest">
        <wsdl:part element="tf:CheckServiceHealthRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="CheckServiceHealthResponse">
        <wsdl:part element="tf:CheckServiceHealthResponse" name="response"/>
    </wsdl:message>

    <wsdl:portType name="ILegalCommitmentQueriesService">
        <wsdl:documentation>Provides Legal Commitment information.</wsdl:documentation>
        <wsdl:operation name="GetTrustFunds">
            <wsdl:documentation>Gets the trust funds according to the query parameters.</wsdl:documentation>
            <wsdl:input message="GetTrustFundsRequest"/>
            <wsdl:output message="GetTrustFundsResponse"/>
            <wsdl:fault name="LegalCommitmentQueryException" message="LegalCommitmentQueryException"/>
        </wsdl:operation>
        <wsdl:operation name="CheckServiceHealth">
            <wsdl:documentation>Diagnostic operation to monitor service health.</wsdl:documentation>
            <wsdl:input message="CheckServiceHealthRequest"/>
            <wsdl:output message="CheckServiceHealthResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ILegalCommitmentQueriesServiceBindingV1" type="ILegalCommitmentQueriesService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTrustFunds">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="LegalCommitmentQueryException">
                <soap:fault name="LegalCommitmentQueryException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CheckServiceHealth">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="LegalCommitmentQueriesServiceV1">
        <wsdl:port binding="ILegalCommitmentQueriesServiceBindingV1" name="ILegalCommitmentQueriesServiceV1">
            <soap:address location="http://ec.europa.eu/rdg/jagate/ws/legalcommitmentqueries/v1"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>