wifi4eu-jagate/src/main/resources/jagate/wsdls/rejection/v2/Rejection_ITF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
		xmlns:xs="http://www.w3.org/2001/XMLSchema"
		xmlns:jagate="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2"
		xmlns:coderef="http://ec.europa.eu/research/fp/model/code-ref/V3"
		xmlns:health="http://ec.europa.eu/research/fp/model/service-health/V1"
		xmlns:header="http://ec.europa.eu/research/fp/model/header/V2"
		xmlns="http://ec.europa.eu/rdg/jagate/ws/rejection/interfaces/v2"
		targetNamespace="http://ec.europa.eu/rdg/jagate/ws/rejection/interfaces/v2"
		elementFormDefault="qualified"
		version="2.0.0">

	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" schemaLocation="../../../domain/base/v2/JAgateBase.xsd" />
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/visa/v2" schemaLocation="../../../domain/visa/v2/Visa.xsd" />
	<xs:import namespace="http://ec.europa.eu/research/fp/model/code-ref/V3" schemaLocation="../../../cdm/model/code-ref/V3/CodeRef.xsd" />
	<xs:import namespace="http://ec.europa.eu/research/fp/model/service-health/V1" schemaLocation="../../../cdm/model/service-health/V1/ServiceHealth.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/header/V2" schemaLocation="../../../cdm/model/header/V2/Header.xsd"/>

	<xs:element name="RejectTransactionRequest" type="RejectTransactionRequestType" />
	<xs:element name="RejectTransactionResponse" type="RejectTransactionResponseType" />

	<xs:element name="CheckServiceHealthRequest" type="CheckServiceHealthRequestType"/>
	<xs:element name="CheckServiceHealthResponse" type="CheckServiceHealthResponseType"/>
	
	<xs:element name="RejectTransactionException" type="jagate:JAgateException" />

	<!--Requests-->
	<xs:complexType name="RejectTransactionRequestType">
		<xs:annotation>
			<xs:documentation>Rejection mechanism for transactions</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="header:HeaderType" />
			<xs:element name="locObjForeignId" type="xs:string"/>
			<xs:element name="transactionType" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>Using CCM2 codes with type 'JagateTransactionType' and context 'RTDAPP' (LEGAL_ENTITY, BANK_ACCOUNT ...).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="visaAction" type="coderef:CodeRefType">
				<xs:annotation>
					<xs:documentation>Using CCM2 codes with type 'ABACVisaActionType' and context 'GEN' (AC, SR ...).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CheckServiceHealthRequestType">
		<xs:sequence>
			<xs:element name="checkServiceHealthIn" type="health:CheckServiceHealthInType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<!--Responses-->
	<xs:complexType name="RejectTransactionResponseType">
		<xs:sequence>
			<xs:element name="locObjForeignId" type="xs:string"/>
			<xs:element name="returnCode" type="xs:long"/>
			<xs:element name="message" type="xs:string"/>
			<xs:element ref="jagate:RequestId" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CheckServiceHealthResponseType">
		<xs:sequence>
			<xs:element name="checkServiceHealthOut" type="health:CheckServiceHealthOutType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:annotation>
		<xs:documentation>v2.0.0 - 20180423- Version 2 of the WS is updated to use CCM codes instead of Enums</xs:documentation>
	</xs:annotation>
			
</xs:schema>