wifi4eu-jagate/src/main/resources/jagate/domain/contract/v1/Contract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by European Commission DG INFSO (R3) (European Commission DG INFSO (R3)) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ec.europa.eu/rdg/jagate/ws/domain/contract/v1" xmlns:jagate="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/domain/contract/v1" xmlns:jagref="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>This is a proposal model for modelling Contract related messsages sent to and from JAgate.</xs:documentation>
	</xs:annotation>

	<!-- Importing reference data schema -->
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" schemaLocation="../../base/v2/JAgateBase.xsd" />
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1" schemaLocation="../../reference/v1/ReferenceData.xsd" />

	<!-- Reusable root elements -->
	<xs:element name="ContractDataInput" type="ContractDataInputType" />
	<xs:element name="ContractDataOutput" type="ContractDataOutputType" />
	<xs:element name="ContractNotificationMessage" type="ContractNotificationMessageType" />
	<xs:element name="ContractTypeType" type="ContractTypeType" />
	<xs:element name="ContractLocObjForeignId" type="xs:string">
		<xs:annotation>
			<xs:documentation>A string that uniquely identify the contract, generated by JAgate.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CoordinatorGroup" type="CoordinatorGroupType" />
	<!-- Type definitions -->
	<!-- Operations types -->
	<xs:complexType name="CreateContractMessageType">
		<xs:complexContent>
			<xs:extension base="jagate:AbstractMessageType">
				<xs:sequence>
					<xs:element name="ContractDataInput" type="ContractDataInputType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveContractMessageType">
		<xs:complexContent>
			<xs:extension base="jagate:AbstractMessageType">
				<xs:sequence>
					<xs:element ref="ContractLocObjForeignId" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteContractMessageType">
		<xs:complexContent>
			<xs:extension base="jagate:AbstractMessageType">
				<xs:sequence>
					<xs:element ref="ContractLocObjForeignId" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetContractStatusMessageType">
		<xs:complexContent>
			<xs:extension base="jagate:AbstractMessageType">
				<xs:sequence>
					<xs:element ref="ContractLocObjForeignId" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateContractMessageType">
		<xs:complexContent>
			<xs:extension base="jagate:AbstractMessageType">
				<xs:sequence>
					<xs:element ref="ContractLocObjForeignId" minOccurs="0" />
					<xs:element name="Contract" type="ContractDataInputType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateContractMessageResponseType">
		<xs:complexContent>
			<xs:extension base="jagate:IdentifiedResponseMessageType">
				<xs:sequence>
					<xs:element name="ContractStatus" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RetrieveContractMessageResponseType">
		<xs:sequence>
			<xs:element name="Contract" type="ContractDataOutputType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateContractMessageResponseType">
		<xs:complexContent>
			<xs:extension base="jagate:IdentifiedResponseMessageType">
				<xs:sequence>
					<xs:element name="ContractStatus" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteContractMessageResponseType">
		<xs:complexContent>
			<xs:extension base="jagate:IdentifiedResponseMessageType">
				<xs:sequence>
					<xs:element name="Status" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GetContractStatusMessageResponseType">
		<xs:complexContent>
			<xs:extension base="jagate:BaseResponseMessageType">
				<xs:sequence>
					<xs:element name="Status" type="xs:string" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContractNotificationMessageType">
		<xs:sequence>
			<xs:element ref="ContractLocObjForeignId" />
			<xs:element name="ContractStatus" type="jagref:EContractStatusType" />
			<xs:element name="Messages">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="message" type="jagref:EMessageType" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- Data types -->
	<xs:complexType name="ContractDataInputType">
		<xs:sequence>
			<xs:group ref="GeneralCoreGroup" />
			<xs:group ref="LifeCycleCoreGroup" />
			<xs:group ref="CommitmentGroup" maxOccurs="unbounded" />
			<xs:element ref="CoordinatorGroup" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractDataOutputType">
		<xs:sequence>
			<xs:element ref="ContractLocObjForeignId" />
			<xs:group ref="GeneralCoreGroup" />
			<xs:group ref="LifeCycleCoreGroup" />
			<xs:group ref="CommitmentGroup" maxOccurs="unbounded" />
			<xs:element ref="CoordinatorGroup" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommitmentPositionType">
		<xs:sequence>
			<xs:element name="CommitmentPositionKey" type="xs:string" />
			<xs:element name="AffectedAmount" type="xs:double" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractTypeType">
		<xs:sequence>
			<xs:element name="Expenditure" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>
						The expenditure type is a reference data specifying whether it is a Grant Agreement, a Procurement etc..This field is optional and
						defaults to 'Grant
						agreement'.
						The value is not constrained as an xml enum (it could have been done so), but we prefer a dynamic validation against its
						defined reference table values.
						It means you need to set an existing value on this field otherwise there will be a validation exception.
						There will be a
						service providing possible values something like getExpenditureTypes().
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractCategory" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mandatory for creation. One of ('A01','A02','D01',etc), the reference table is ICON.CNT_VW_PUBL_CNT_CAT@abac.CCA_CD</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CoordinatorGroupType">
		<xs:sequence>
			<xs:element name="pic" type="xs:long" />
			<xs:element name="iban" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:group name="GeneralCoreGroup">
		<xs:sequence>
			<xs:element name="ContractTitle" type="xs:string" />
			<xs:element name="ContractLegalCountry" type="xs:string" />
			<xs:element name="ProjectAcronym" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mandatory for creation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalCost" type="xs:double">
				<xs:annotation>
					<xs:documentation>Total cost of the action in euroMandatory for grant agreements for action (e.g. CNT_CCA_CD ='D01')Only to be specified for grant
						agreements. >0 grant agreements for action (e.g. CNT_CCA_CD ='D01'). If 0, we'll put the value of MaxECContributionInEUR
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ECContributionPercentage" type="xs:double" />
			<xs:element name="MaxECContributionInEUR" type="xs:double" />
		</xs:sequence>
	</xs:group>
	<xs:group name="LifeCycleCoreGroup">
		<xs:sequence>
			<xs:element name="AmendmentVersionNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Mandatory, for a base contract you have to set it to 0</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProjectStartDate" type="xs:date" />
			<xs:element name="ProjectEndDate" type="xs:date" />
			<xs:element name="ProjectDurationInMonth" type="xs:int" />
			<xs:element name="ContractorFirstNotificationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>First notification. Mandatory when Contract state = Sent to Contractors ('SNT')</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractECSignatureDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>EC signature date. Mandatory when Contract state = In Force ('VIG')</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractorSignatureDate" type="xs:date" />
		</xs:sequence>
	</xs:group>
	<xs:group name="PicGroup">
		<xs:sequence>
			<xs:element ref="CoordinatorGroup" />
		</xs:sequence>
	</xs:group>
	<xs:group name="CommitmentGroup">
		<xs:sequence>
			<xs:element name="CommitmentPositionKey" type="xs:string" />
			<xs:element name="AffectedAmount" type="xs:double" />
		</xs:sequence>
	</xs:group>
	<xs:complexType name="Callback">
		<xs:choice>
			<xs:element name="JmsCallbackSpec" type="JmsCallbackSpec" />
			<xs:element name="EjbCallbackSpec" type="EjbCallbackSpec" />
			<xs:element name="WebserviceCallbackSpec" type="WebServiceCallbackSpec" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="JmsCallbackSpec">
		<xs:sequence>
			<xs:element name="Type" type="EMessagingType" />
			<xs:element name="JndiName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WebServiceCallbackSpec">
		<xs:sequence>
			<xs:element name="WsdlUrl" type="xs:anyURI" />
			<xs:element name="PortName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EjbCallbackSpec">
		<xs:sequence>
			<xs:element name="JndiName" type="xs:string" />
			<xs:element name="BusinessInterfaceType" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="EMessagingType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="QUEUE" />
			<xs:enumeration value="TOPIC" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
