wifi4eu-jagate/src/main/resources/jagate/wsdls/recoveryorder/v2/RecoveryOrder.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="RecoveryOrderWSV2"  
	xmlns:recoveryorder="http://ec.europa.eu/rdg/jagate/ws/recoveryorder/v2/interfaces"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/recoveryorder/v2"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/recoveryorder/v2">

	<!-- Types -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/recoveryorder/v2/interfaces" schemaLocation="RecoveryOrderInterface.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="CreateRecoveryOrderRequest">
		<wsdl:part element="recoveryorder:CreateRecoveryOrderRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="CreateRecoveryOrderResponse">
		<wsdl:part element="recoveryorder:CreateRecoveryOrderResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="CreateRecoveryOrderException">
		<wsdl:part element="recoveryorder:RecoveryOrderException" name="exception" />
	</wsdl:message>
    <wsdl:message name="CheckServiceHealthRequest">
        <wsdl:part element="recoveryorder:CheckServiceHealthRequest" name="request"/>
    </wsdl:message>
    <wsdl:message name="CheckServiceHealthResponse">
        <wsdl:part element="recoveryorder:CheckServiceHealthResponse" name="response"/>
    </wsdl:message>
	
	<wsdl:portType name="IRecoveryOrderService">
		<wsdl:documentation>Service to manage recovery orders</wsdl:documentation>
		<wsdl:operation name="CreateRecoveryOrder">
			<wsdl:documentation>Creation of recovery orders</wsdl:documentation>
			<wsdl:input message="CreateRecoveryOrderRequest" />
			<wsdl:output message="CreateRecoveryOrderResponse" />
			<wsdl:fault name="CreateRecoveryOrderException" message="CreateRecoveryOrderException" />
		</wsdl:operation>
		<wsdl:operation name="CheckServiceHealth">
			<wsdl:documentation>Diagnostic operation to monitor service health.</wsdl:documentation>
			<wsdl:input message="CheckServiceHealthRequest"/>
			<wsdl:output message="CheckServiceHealthResponse"/>
		</wsdl:operation>
	</wsdl:portType>	

	<!-- Binding -->
	<wsdl:binding name="IRecoveryOrderServiceBindingV2" type="IRecoveryOrderService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreateRecoveryOrder">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CreateRecoveryOrderException">
				<soap:fault name="CreateRecoveryOrderException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="CheckServiceHealth">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
	</wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="RecoveryOrderServiceV2">
		<wsdl:port name="RecoveryOrderServiceBindingV2" binding="IRecoveryOrderServiceBindingV2">
			<soap:address location="http://ec.europa.eu/rdg/jagate/ws/recoveryorder/v2"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>