wifi4eu-jagate/src/main/resources/jagate/domain/commitmentqueries/v2/CommitmentQueries.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 			xmlns:xs="http://www.w3.org/2001/XMLSchema" 
					xmlns="http://ec.europa.eu/rdg/jagate/ws/domain/commitmentqueries/v2"
					xmlns:jagate="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2"
					xmlns:reference="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1"
					xmlns:coderef="http://ec.europa.eu/research/fp/model/code-ref/V3"
					xmlns:health="http://ec.europa.eu/research/fp/model/service-health/V1"
					targetNamespace="http://ec.europa.eu/rdg/jagate/ws/domain/commitmentqueries/v2"
					elementFormDefault="qualified" 
					attributeFormDefault="unqualified"
					version="2.2.0">
					
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" schemaLocation="../../base/v2/JAgateBase.xsd" />
	<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/domain/reference/v1" schemaLocation="../../reference/v1/ReferenceData.xsd" />
	<xs:import namespace="http://ec.europa.eu/research/fp/model/code-ref/V3" schemaLocation="../../../cdm/model/code-ref/V3/CodeRef.xsd" />
	<xs:import namespace="http://ec.europa.eu/research/fp/model/service-health/V1" schemaLocation="../../../cdm/model/service-health/V1/ServiceHealth.xsd" />
	
	<xs:element name="GetL1ByLocObjForeignIdRequest" type="GetL1ByLocObjForeignIdRequestType" />
	<xs:element name="GetL1ByLocObjForeignIdResponse" type="GetL1ByLocObjForeignIdResponseType" />
	
	<xs:element name="GetCommitmentLevel2Request" type="GetCommitmentLevel2RequestType" />
	<xs:element name="GetCommitmentLevel2Response" type="GetCommitmentLevel2ResponseType" />

	<xs:element name="GetOpenCommitmentByIban" type="GetOpenCommitmentByIbanRequestType" />
	<xs:element name="GetOpenCommitmentByIbanResponse" type="GetOpenCommitmentByIbanResponse" />
	
	<xs:element name="BudgetLineRequest" type="BudgetLineRequestType"/>
	<xs:element name="BudgetLineResponse" type="BudgetLineResponseType" />
	
	<xs:element name="Level1CommitmentPositionRequest" type="Level1CommitmentPositionRequestType"/>
	<xs:element name="Level1CommitmentPositionResponse" type="Level1CommitmentPositionResponseType"/>

	<xs:element name="SearchCommitmentLevel2HeaderRequest" type="SearchCommitmentLevel2HeaderRequestType" />
	<xs:element name="SearchCommitmentLevel2HeaderResponse" type="SearchCommitmentLevel2HeaderResponseType" />

	<xs:element name="GetCL2LegalEntityBankAccountLinkRequest" type="GetCL2LegalEntityBankAccountLinkRequestType" />
	<xs:element name="GetCL2LegalEntityBankAccountLinkResponse" type="GetCL2LegalEntityBankAccountLinkResponseType" />

	<xs:complexType name="GetL1ByLocObjForeignIdRequestType">
		<xs:sequence>
			<xs:element name="localObjectForeigId" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="GetL1ByLocObjForeignIdResponseType">
		<xs:sequence>
			<xs:element name="commitment" type="CommitmentL1HeaderType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CommitmentL1HeaderType">
		<xs:sequence>
			<xs:element name="LocalObjectForeigId" type="xs:string" />
			<xs:element name="Title" type="xs:string" />
			<xs:element name="FinalDueDate" type="xs:date" minOccurs="0" />
			<xs:element name="LegalJustification" type="jagate:Ccm2Code" minOccurs="0" />
			<xs:element name="Status" type="reference:EObjectStatusType" minOccurs="0" />
			<xs:element name="Position" type="CommitmentL1PositionType" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="CommitmentL1PositionType">
		<xs:sequence>
			<xs:element name="LocalObjectForeigId" type="xs:string" />
			<xs:element name="DG" type="jagate:Ccm2Code" minOccurs="0" />
			<xs:element name="PolicyArea" type="jagate:Ccm2Code" minOccurs="0" />
			<xs:element name="BookYear" type="xs:string" minOccurs="0" />
			<xs:element name="AcceptedAmount" type="xs:decimal" minOccurs="0" />
			<xs:element name="ConsumedAmount" type="xs:decimal" minOccurs="0" />
			<xs:element name="CarryForwardFlag" type="xs:boolean" minOccurs="0" />
			<xs:element name="Appropriation" type="AppropriationType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>	
					
	<xs:complexType name="GetCommitmentLevel2RequestType">
		<xs:sequence>
			<xs:element name="RequestHeader" type="jagate:RequestHeader"/>
			<xs:element ref="jagate:LocObjForeignId" />
		</xs:sequence>
	</xs:complexType>					
					
	<xs:complexType name="GetCommitmentLevel2ResponseType">
		<xs:sequence>
			<xs:element name="CommitmentHeaderInfo" type="CommitmentHeaderInfoType"/>
			<xs:element name="Positions" type="PositionsListType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PositionsListType">
		<xs:sequence>
			<xs:element name="PositionInfo" type="PositionInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="CommitmentHeaderInfoType">
		<xs:sequence>
			<xs:element ref="jagate:LocObjForeignId" />
			<xs:element name="FinancialRegulation" type="coderef:CodeRefType" />
			<xs:element name="CommitmentClass" type="coderef:CodeRefType" />
			<xs:element name="UserReference" type="xs:string" />
			<xs:element name="FDI" type="xs:date" />
			<xs:element name="FDIDelimiter" type="xs:string" />
			<xs:element name="RegulatoryContext" type="RegulatoryContext" />
			<xs:element name="PaymentClass" type="coderef:CodeRefType" />
			<xs:element name="CurrentBudgetYear" type="xs:string" />
			<xs:element name="OriginalBookYear" type="xs:string" />
			<xs:element name="ResponsibleOrganisation" type="coderef:CodeRefType" minOccurs="0" />
			<xs:element name="ResponsibleUsers" type="ResponsibleUsersListType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegulatoryContext">
		<xs:sequence>
			<xs:element name="BudgetManagementType" type="coderef:CodeRefType"/>
			<xs:element name="ImplementedBy" type="coderef:CodeRefType"/>
			<xs:element name="ExpenditureCategory" type="coderef:CodeRefType"/>
			<xs:element name="LegalJustification" type="coderef:CodeRefType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResponsibleOrganisationsListType">
		<xs:sequence>
			<xs:element name="ResponsibleOrganisation" type="coderef:CodeRefType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ResponsibleUsersListType">
		<xs:sequence>
			<xs:element name="ResponsibleUser" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
					
	<xs:complexType name="PositionInfoType">
		<xs:sequence>
			<xs:element ref="jagate:LocObjForeignId" />
			<xs:element name="Appropriation" type="xs:string" />
			<xs:element name="AppropriationFundSource" type="xs:string" />
			<xs:element name="DG" type="coderef:CodeRefType" />
			<xs:element name="PolicyArea" type="coderef:CodeRefType" />
			<xs:element name="BookYear" type="xs:string" />
			<xs:element name="InWorkflowAmount" type="xs:decimal" />
			<xs:element name="AcceptedAmount" type="xs:decimal" />
			<xs:element name="ConsumedAmount" type="xs:decimal" />
			<xs:element name="CarryForwardFlag" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GetOpenCommitmentByIbanRequestType">
		<xs:sequence>
			<xs:element name="Iban" type="xs:string" />
			<xs:element name="OnlyPrimaryContractors" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GetOpenCommitmentByIbanResponse">
		<xs:sequence>
			<xs:element name="response" type="GetOpenCommitmentByIbanResponseType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GetOpenCommitmentByIbanResponseType">
		<xs:sequence>
			<xs:element name="CommitmentHeaderInfo" type="CommitmentHeaderInfoType" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Level1CommitmentPositionRequestType">
		<xs:sequence>
			<xs:element name="localObjectForeignId" type="xs:string"/>
			<xs:element name="policyArea" type="jagate:Ccm2Code" minOccurs="0"/>
			<xs:element name="DG" type="jagate:Ccm2Code" minOccurs="0"/>
			<xs:element name="BookYear" type="xs:string" minOccurs="0"/>			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Level1CommitmentPositionResponseType">
		<xs:sequence>
			<xs:element name="position" type="Level1CommitmentPositionResultsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Level1CommitmentPositionResultsType">
		<xs:sequence>
			<xs:element name="localKey" type="xs:string" />
			<xs:element name="budgetLine" type="xs:string" />
			<xs:element name="fundingSource" type="xs:string"/>
			<xs:element name="title" type="xs:string" />
			<xs:element name="AcceptedAmount" type="xs:decimal"/>
			<xs:element name="ConsumedAmount" type="xs:decimal"/>
			<xs:element name="DG" type="jagate:Ccm2Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<xs:complexType name="BudgetLineRequestType">
		<xs:annotation>
			<xs:documentation>The query is restricted to budget lines on which we can create Commitment, i.e. their consumption type contains 'C' standing for Commitment
				!
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BudgetStructure" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Additionally to the other criteria, a 'like' filter will be applied on this field before returning the results.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundingManagementArea" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching (full search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetRegime" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching (full search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetaryYear" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If provided, it will be used, if not provided we'll use the parameterized value for the financial year and if parameter not defined,
						we'll use the jvm system date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BudgetPosition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A partial matching (partial search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundSource" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching (full search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundManagementCenter" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching (full search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Localposition" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching (full search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Description" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching (full search) is performed on this field</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BudgetLineResponseType">
		<xs:sequence>
			<xs:element name="BudgetLine"  type="BudgetLineResultsType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="BudgetLineResultsType">
		<xs:sequence>
			<xs:element name="BudgetLine" type="xs:string" nillable="false"/>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="FundSource" type="xs:string"/>
			<xs:element name="AcceptedAmount" type="xs:decimal"/>
			<xs:element name="ConsumedAmount" type="xs:decimal"/>
			<xs:element name="CurrentAvailableAmount" type="xs:decimal"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="AppropriationType">
		<xs:sequence>
			<xs:element name="LocalObjectForeigId" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="FundingSource" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SearchCommitmentLevel2HeaderRequestType">
		<xs:sequence>
			<xs:element name="RequestHeader" type="jagate:RequestHeader"/>
			<xs:element name="ResponsibleOrganisations" type="ResponsibleOrganisationsListType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>For each organisation provided, a 'starts with' search will be performed./</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginalBookYear" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>An exact matching will be performed based on this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element ref="jagate:LocObjForeignId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A 'starts with' search will be performed based on this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommitmentClass" type="coderef:CodeRefType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>If provided, the given commitment class with be used as an exact match. If not provided, default value will be 'PP'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserReference" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>A 'contains' search will be performed based on this field.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SearchCommitmentLevel2HeaderResponseType">
		<xs:sequence>
			<xs:element name="SearchResults" type="SearchResultsType" />
			<xs:element name="CommitmentLevel2Results" type="CommitmentLevel2ResultsListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommitmentLevel2ResultsListType">
		<xs:sequence>
			<xs:element name="CommitmentLevel2Result" type="CommitmentLevel2ResultType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CommitmentLevel2ResultType">
		<xs:sequence>
			<xs:element ref="jagate:LocObjForeignId" />
			<xs:element name="CommitmentClass" type="coderef:CodeRefType" />
			<xs:element name="ResponsibleOrganisation" type="coderef:CodeRefType" minOccurs="0" />
			<xs:element name="CurrentBudgetYear" type="xs:string" />
			<xs:element name="OriginalBookYear" type="xs:string" />
			<xs:element name="UserReference" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SearchResultsType">
		<xs:sequence>
			<xs:element name="PageNumber" type="xs:integer" />
			<xs:element name="TotalNumberOfPages" type="xs:integer" />
			<xs:element name="PageSize" type="xs:integer" />
			<xs:element name="TotalNumberOfResults" type="xs:integer" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GetCL2LegalEntityBankAccountLinkRequestType">
		<xs:sequence>
			<xs:element name="commitment" type="jagate:NonEmptyString"/>
			<xs:element name="pic"  type="jagate:NonEmptyString"/>
			<xs:choice>
				<xs:element name="iban" type="jagate:NonEmptyString"/>
				<xs:element name="bankAccountNumber" type="jagate:NonEmptyString"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="GetCL2LegalEntityBankAccountLinkResponseType">
		<xs:sequence>
			<xs:element name="commitment" type="jagate:NonEmptyString"/>
			<xs:element name="pic"  type="jagate:NonEmptyString"/>
			<xs:choice>
				<xs:element name="iban" type="jagate:NonEmptyString"/>
				<xs:element name="bankAccountNumber" type="jagate:NonEmptyString"/>
			</xs:choice>
			<xs:element name="cl2LegalEntityBankAccountLink" type="CL2LegalEntityBankAccountLink" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CL2LegalEntityBankAccountLink">
		<xs:sequence>
			<xs:element name="status"  type="jagate:NonEmptyString"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="checkServiceHealth">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="checkServiceHealthIn" type="health:CheckServiceHealthInType" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="checkServiceHealthResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="checkServiceHealthOut" type="health:CheckServiceHealthOutType" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:annotation>
		<xs:documentation>v2.0.1 - 20160112 - Added new elements GetCommitmentLevel2Request and GetCommitmentLevel2Response</xs:documentation>
		<xs:documentation>v2.1.0 - 20160116 - Added new elements SearchCommitmentLevel2HeaderRequest and SearchCommitmentLevel2HeaderResponse</xs:documentation>
		<xs:documentation>v2.1.1 - 20160117 - Marked some fields optional and removed the field 'Status' from the CommitmentHeaderInfoType</xs:documentation>
		<xs:documentation>v2.1.2 - 20170130 - ResponsibleOrganisation from CommitmentHeaderInfoType is a single optional element instead of a list</xs:documentation>
		<xs:documentation>v2.1.3 - 20170131 - Renamed all list types from the GetCommitmentLevel2 and SearchCommitmentLevel2Header to contain 'ListType' at the end</xs:documentation>
		<xs:documentation>v2.2.0 - 20170329 - Added new elements GetCL2LegalEntityBankAccountLinkRequest and GetCL2LegalEntityBankAccountLinkResponse</xs:documentation>
	</xs:annotation>
</xs:schema>