wifi4eu-jagate/src/main/resources/jagate/wsdls/prefinancing/v3/Prefinancing.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="PrefinancingWSV3"  
	xmlns:prefin="http://ec.europa.eu/rdg/jagate/ws/prefinancing/v3/interfaces"
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/prefinancing/v3"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/prefinancing/v3">

	<!-- Types -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/prefinancing/v3/interfaces" schemaLocation="PrefinancingInterface.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="CreatePrefinancingRequest">
		<wsdl:part element="prefin:CreatePrefinancingRequest" name="request" />
	</wsdl:message>

	<wsdl:message name="CreatePrefinancingResponse">
		<wsdl:part element="prefin:CreatePrefinancingResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="CreatePrefinancingException">
		<wsdl:part element="prefin:PrefinException" name="exception" />
	</wsdl:message>	
	
	<wsdl:message name="CreateSplitPrefinancingRequest">
		<wsdl:part element="prefin:CreateSplitPrefinancingRequest" name="request" />
	</wsdl:message>

	<wsdl:message name="CreateSplitPrefinancingResponse">
		<wsdl:part element="prefin:CreateSplitPrefinancingResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="CreateSplitPrefinancingException">
		<wsdl:part element="prefin:PrefinException" name="exception" />
	</wsdl:message>

	<wsdl:portType name="IPrefinancingService">
		<wsdl:documentation>Creates the Prefinancing with the given parameters.</wsdl:documentation>
		<wsdl:operation name="CreatePrefinancing">
			<wsdl:documentation>For Coordinator prefin</wsdl:documentation>
			<wsdl:input message="CreatePrefinancingRequest" />
			<wsdl:output message="CreatePrefinancingResponse" />
			<wsdl:fault name="CreatePrefinancingException" message="CreatePrefinancingException"/>
		</wsdl:operation>
		<wsdl:operation name="CreateSplitPrefinancing">
			<wsdl:documentation>For Coordinator prefin</wsdl:documentation>
			<wsdl:input message="CreateSplitPrefinancingRequest" />
			<wsdl:output message="CreateSplitPrefinancingResponse" />
			<wsdl:fault name="CreateSplitPrefinancingException" message="CreateSplitPrefinancingException"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="IPrefinancingServiceBinding" type="IPrefinancingService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="CreatePrefinancing">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CreatePrefinancingException">
				<soap:fault name="CreatePrefinancingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="CreateSplitPrefinancing">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="CreateSplitPrefinancingException">
				<soap:fault name="CreateSplitPrefinancingException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="PrefinancingServiceV3">
		<wsdl:port binding="IPrefinancingServiceBinding" name="PrefinancingServiceBinding">
			<soap:address location="http://ec.europa.eu/rdg/jagate/ws/prefinancing/v3"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>