wifi4eu-jagate/src/main/resources/jagate/wsdls/bankaccount/v4/BankAccount.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	name="BankAccountServiceV4" 
	xmlns:jag="http://ec.europa.eu/rdg/jagate/ws/domain/base/v2" 
	xmlns:ba="http://ec.europa.eu/rdg/jagate/ws/bankaccount/v4/interfaces"
	xmlns="http://ec.europa.eu/rdg/jagate/ws/bankaccount/v4" 
	targetNamespace="http://ec.europa.eu/rdg/jagate/ws/bankaccount/v4">

	<!-- Types -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://ec.europa.eu/rdg/jagate/ws/bankaccount/v4/interfaces" schemaLocation="BankAccountInterface.xsd" />
		</xs:schema>
	</wsdl:types>

	<!-- Messages -->
	<wsdl:message name="GetBankAccountByNationalNumberRequest">
		<wsdl:part element="ba:GetBankAccountByNationalNumberRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetAllBankAccountsByNationalNumberRequest">
		<wsdl:part element="ba:GetAllBankAccountsByNationalNumberRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetBankAccountByIbanRequest">
		<wsdl:part element="ba:GetBankAccountByIbanRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetAllBankAccountsByIbanRequest">
		<wsdl:part element="ba:GetAllBankAccountsByIbanRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetAllBankAccountsByAbacIdRequest">
		<wsdl:part element="ba:GetAllBankAccountsByAbacIdRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="GetBankAccountResponse">
		<wsdl:part element="ba:GetBankAccountResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="BankAccountException">
		<wsdl:part element="ba:BankAccountException" name="exception" />
	</wsdl:message>
	<wsdl:message name="CreateBankAccountRequest">
		<wsdl:part element="ba:CreateBankAccountRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="CreateBankAccountResponse">
		<wsdl:part element="ba:CreateBankAccountResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="CreateLEBALinkRequest">
		<wsdl:part element="ba:CreateLEBALinkRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="CreateLEBALinkResponse">
		<wsdl:part element="ba:CreateLEBALinkResponse" name="response" />
	</wsdl:message>

	<!-- Port definition -->
	<wsdl:portType name="IBankAccountService">
		<wsdl:documentation>Provides Bank Account related services.</wsdl:documentation>
		<wsdl:operation name="getBankAccountByIban">
			<wsdl:documentation>Gets the bank account holder for a given IBAN.</wsdl:documentation>
			<wsdl:input message="GetBankAccountByIbanRequest" />
			<wsdl:output message="GetBankAccountResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />
		</wsdl:operation>
		<wsdl:operation name="getBankAccountByNationalNumber">
			<wsdl:documentation>Gets the bank account holder for a given national number.</wsdl:documentation>
			<wsdl:input message="GetBankAccountByNationalNumberRequest" />
			<wsdl:output message="GetBankAccountResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />
		</wsdl:operation>
		<wsdl:operation name="createBankAccount">
			<wsdl:documentation>Creates a Bank Account in ABAC.</wsdl:documentation>
			<wsdl:input message="CreateBankAccountRequest" />
			<wsdl:output message="CreateBankAccountResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />		
		</wsdl:operation>
		<wsdl:operation name="createLEBALink">
			<wsdl:documentation>Creates a Bank Account in ABAC.</wsdl:documentation>
			<wsdl:input message="CreateLEBALinkRequest" />
			<wsdl:output message="CreateLEBALinkResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />		
		</wsdl:operation>
		<wsdl:operation name="getAllBankAccountsByIban">
			<wsdl:documentation>Gets all the bank account holders for a given IBAN.</wsdl:documentation>
			<wsdl:input message="GetAllBankAccountsByIbanRequest" />
			<wsdl:output message="GetBankAccountResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />
		</wsdl:operation>	
		<wsdl:operation name="getAllBankAccountsByNationalNumber">
			<wsdl:documentation>Gets all the bank account holders for a given national number.</wsdl:documentation>
			<wsdl:input message="GetAllBankAccountsByNationalNumberRequest" />
			<wsdl:output message="GetBankAccountResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />
		</wsdl:operation>		
		<wsdl:operation name="getAllBankAccountsByAbacId">
			<wsdl:documentation>Gets all the bank account holders for a given ABAC ID.</wsdl:documentation>
			<wsdl:input message="GetAllBankAccountsByAbacIdRequest" />
			<wsdl:output message="GetBankAccountResponse" />
			<wsdl:fault name="BankAccountException" message="BankAccountException" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- Binding -->
	<wsdl:binding name="IBankAccountServiceBinding" type="IBankAccountService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getBankAccountByIban">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getBankAccountByNationalNumber">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createBankAccount">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createLEBALink">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAllBankAccountsByIban">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAllBankAccountsByNationalNumber">
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAllBankAccountsByAbacId">
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="BankAccountException">
				<soap:fault name="BankAccountException" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Service definition -->
	<wsdl:service name="BankAccountServiceV4">
		<wsdl:port binding="IBankAccountServiceBinding" name="BankAccountServiceBinding">
			<soap:address location="http://ec.europa.eu/rdg/jagate/ws/bankaccount/v4" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>