wifi4eu-jagate/src/main/resources/jagate/cdm/model/event-legalentity/V1/DocumentToBeAddedEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 3 sp1 (x64) (http://www.altova.com) by Christian Huwaert (European Commission - DIGIT) -->
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Meropi Traianidou (European Commission) -->
<xs:schema xmlns="http://ec.europa.eu/rdg/efp/domain/event/legalentity/documenttobeadded-event/V1" xmlns:legalentityref="http://ec.europa.eu/research/fp/model/legalentity-ref/V2" xmlns:document="http://ec.europa.eu/research/fp/model/document/V3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eventbase="http://ec.europa.eu/rdg/efp/domain/event/v1_0" targetNamespace="http://ec.europa.eu/rdg/efp/domain/event/legalentity/documenttobeadded-event/V1" elementFormDefault="qualified" version="1.0.0">
	<xs:import namespace="http://ec.europa.eu/rdg/efp/domain/event/v1_0" schemaLocation="../../eventbase/V0/EventBase.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity-ref/V2" schemaLocation="../../legalentity-ref/V2/LegalEntityRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/document/V3" schemaLocation="../../document/V3/Document.xsd"/>
	<xs:complexType name="DocumentToBeAddedEvent">
		<xs:annotation>
			<xs:documentation>Event Received when a remote system requests to store certain documents.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eventbase:EventBodyType">
				<xs:sequence>
					<xs:element name="PIC" type="legalentityref:LegalEntityIdType"/>
					<xs:element name="UploadDate" type="xs:dateTime"/>
					<xs:element name="EcasLogin" type="xs:string"/>
					<xs:element name="LegalName" type="xs:string"/>
					<xs:element name="Comment" type="xs:string" minOccurs="0"/>
					<xs:element name="Origin" type="xs:string"/>
					<xs:element name="UploadedDocument" type="document:DocumentType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:annotation>
		<xs:documentation>v 1.0.0: Creation </xs:documentation>
	</xs:annotation>
</xs:schema>
