wifi4eu-jagate/src/main/resources/jagate/cdm/model/event-legalentity/V1/ErasmusECHEAccreditationEvent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) by Christian Huwaert (European Commission DIGIT) -->
<xs:schema xmlns="http://ec.europa.eu/rdg/efp/domain/event/legalentity/erasmus-ECHE-accreditation/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eventbase="http://ec.europa.eu/rdg/efp/domain/event/v1_0" xmlns:legalentityref="http://ec.europa.eu/research/fp/model/legalentity-ref/V3" xmlns:base="http://ec.europa.eu/research/fp/model/base/V1" targetNamespace="http://ec.europa.eu/rdg/efp/domain/event/legalentity/erasmus-ECHE-accreditation/V1" elementFormDefault="qualified" version="1.0">
	<xs:import namespace="http://ec.europa.eu/rdg/efp/domain/event/v1_0" schemaLocation="../../eventbase/V0/EventBase.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/legalentity-ref/V3" schemaLocation="../../legalentity-ref/V3/LegalEntityRef.xsd"/>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/base/V1" schemaLocation="../../base/V1/Base.xsd"/>
	<xs:complexType name="ErasmusECHEAccreditationEvent">
		<xs:annotation>
			<xs:documentation>Event Emitted by Pegasus when a new Erasmus Charter accreditation is awarded or removed.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eventbase:EventBodyType">
				<xs:sequence>
					<xs:element name="ECHEReferenceCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>a compound code generated by Pegasus containing: Internal code-programme code-round of submission-year of submission-year of activity-country of applicant-action code-sub action code</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PIC" type="legalentityref:LegalEntityIdType"/>
					<xs:element name="InstitutionCode" type="xs:string" minOccurs="0"/>
					<xs:element name="ECHEStartEndDate" type="base:DateIntervalType" minOccurs="0"/>
					<xs:element name="Reason" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
