wifi4eu-jagate/src/main/resources/jagate/cdm/model/project-milestone/V3/ProjectMilestone.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Meropi Traianidou (European Commission) -->
<xs:schema targetNamespace="http://ec.europa.eu/research/fp/model/project-milestone/V3" xmlns:milestoneref="http://ec.europa.eu/research/fp/model/project-milestone-ref/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ec.europa.eu/research/fp/model/project-milestone/V3" elementFormDefault="qualified" version="3.0.0">
	<xs:annotation>
		<xs:documentation>v3.0.0 - IsAchieved is mandatory, add document reference. OK?: add DueInMonth (contractually based due date), add DueDate (calculated from DueInMonth and StartDate of project), add reportingPeriod??. and a link to the new ProjectMilestoneRef		
		</xs:documentation>
	</xs:annotation>
	<xs:annotation>
		<xs:documentation>This schema intends to hold a view on 'milestone' data defined for a project.
		</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://ec.europa.eu/research/fp/model/project-milestone-ref/V1" schemaLocation="../../project-milestone-ref/V1/ProjectMilestoneRef.xsd"/>
	<xs:element name="Milestone" type="MilestoneType"/>
	<xs:complexType name="MilestoneType">
		<xs:sequence>
			<xs:element name="Number" type="milestoneref:MilestoneNumberType"/>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>name of milestone agreed within consortium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WorkPackage" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>reference to the work package number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LeadPartner" type="xs:positiveInteger" minOccurs="0">
				<xs:annotation>
					<xs:documentation>partner who leads this milestone</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDate" type="xs:date">
				<xs:annotation>
					<xs:documentation>The due date is the one put in DoW - annexI.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>actual date when milestone is delivered/reached</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
